form(name='newCostumerForm')
	.body(layout='row' layout-wrap)
		md-input-container(flex='100')
			label Nome
			input(name='name' ng-model='ctrl.newCustomer.person_name' required)
			div(ng-messages='newCostumerForm.name.$error')
				div(ng-message='required') Campo obrigatório!

		md-input-container.md-icon-float(flex='33')
			label
				span Tipo
			md-select(name='type' ng-model='ctrl.newCustomer.person_type' required)
				md-option(value='F') Pessoa Física
				md-option(value='J') Pessoa Jurídica
			div(ng-messages='newCostumerForm.type.$error')
				div(ng-message='required') Campo obrigatório!

		md-input-container(flex='33')
			label 
				i.fa.fa-lock(ng-if='ctrl.newCustomer.person_type != "F"') &nbsp;
				| CPF
			input(name='cpf' 
				  ng-model='ctrl.newCustomer.person_cpf' 
				  ng-pattern="/^[0-9]{3}[.][0-9]{3}[.][0-9]{3}-[0-9]{2}$/" 
				  ui-mask='999.999.999-99'
				  model-view-value='true'
				  ng-disabled='ctrl.newCustomer.person_type != "F"')
			div(ng-messages='newCostumerForm.cpf.$error')
				div(ng-message='pattern') CPF inválido!

		md-input-container(flex='33')
			label 
				i.fa.fa-lock(ng-if='ctrl.newCustomer.person_type != "J"') &nbsp;
				| CNPJ
			input(name='cnpj' 
				  ng-model='ctrl.newCustomer.person_cnpj' 
				  ng-pattern="/^[0-9]{2}[.][0-9]{3}[.][0-9]{3}/[0-9]{4}[-][0-9]{2}$/" 
				  ui-mask='99.999.999/9999-99'
				  model-view-value='true'
				  ng-disabled='ctrl.newCustomer.person_type != "J"')
			div(ng-messages='newCostumerForm.cnpj.$error')
				div(ng-message='pattern') CNPJ inválido!

	.footer(layout='row' layout-align='end center')
		md-button.md-primary(ng-click='ctrl._close(ctrl.newCustomer)')
			| &nbsp; Cadastrar &nbsp;

		md-button.md-primary(ng-click='ctrl._cancel()')
			| &nbsp; Fechar &nbsp;
