.irineu(layout='row' layout-align='start center' layout-fill)
	i.fa.fa-credit-card-alt
	span Editar parcela

.body(layout='column' layout-fill style='min-width: 450px')
	div(layout='row')

		div(flex='45' layout='row')
			div(flex='25')
				md-button.md-icon-button.md-raised.md-primary(style='margin-left: 0' ng-click='ctrl.isCalendarOpen = true')
					md-icon(md-font-icon='fa fa-calendar')

			md-input-container(flex)
				label Vencimento
				md-datepicker(ng-model='ctrl.payment.order_payment_deadline' md-hide-icons='all' md-is-open='ctrl.isCalendarOpen' md-min-date='ctrl.minDate')

		span(flex)

		md-input-container
			md-switch(name='initial' style='margin: 0' ng-true-value='"Y"' ng-false-value='"N"'
					ng-model='ctrl.payment.order_payment_initial')
				| Parcela de entrada

	.offset-top-15(layout='row')

		md-input-container(flex='55')
			label Modalidade
			md-select(ng-model='ctrl.modality'
					data-md-container-class='query-select-container'
					ng-model-options='{ trackBy: "$value.modality_id" }')
				md-select-header.select-header
					| &nbsp; &nbsp;
					i.fa.fa-search
					input.md-text(ng-model='ctrl.queryModality' 
							type='search' placeholder='Buscar modalidade'
							ng-keydown="ctrl.updateSearch($event)")
					button(ng-click='ctrl.queryModality = \'\';')
						i.fa.fa-times-circle
				md-opt-group(label='Modalidades')
					md-option(ng-value='m' 
							ng-repeat='m in ctrl.queryModalityResult | filter: { queryable: ctrl.queryModality }' 
							ng-click='ctrl.getModalityById(m.modality_id)')
						| {{m.modality_code}} - {{m.modality_description}}

		md-input-container(flex='35')
			label Parcelas
			md-select(name='type' ng-model='ctrl.payment.order_payment_installment')
				md-option(ng-value='i.modality_item_installment' ng-repeat='i in ctrl.payment.modality.modality_item' ng-click='ctrl.setDeadline(i.modality_item_delay)') 
					| {{i.modality_item_installment}}x ({{ctrl.payment.order_payment_value / i.modality_item_installment | currency:'R$ '}})

		md-input-container(flex='20')
			label Valor
			input.text-right(ng-model='ctrl.payment.order_payment_value' ng-change='ctrl.payment.setValue()' currency='"R$ "' 
				number-only separator=',.' replace-text replace-from='.' replace-to=',')

	div(layout='row')
		md-input-container(flex='50')
			label Banco
			md-select(ng-model='ctrl.payment.order_payment_bank_id'
					data-md-container-class='query-select-container'
					ng-disabled='!ctrl.isCheck()')
				md-select-header.select-header
					| &nbsp; &nbsp;
					i.fa.fa-search
					input.md-text(ng-model='ctrl.queryBank' 
							type='search' placeholder='Buscar banco'
							ng-keydown="ctrl.updateSearch($event)")
					button(ng-click='ctrl.queryBank = \'\';')
						i.fa.fa-times-circle
				md-opt-group(label='Bancos')
					md-option(ng-value='b.bank_id' 
							ng-repeat='b in ctrl.queryBankResult | filter: { queryable: ctrl.queryBank }'
							ng-click='ctrl.getBankById(b.bank_id)')
						| {{b.bank_id}} - {{b.bank_name}}

		md-autocomplete(
				flex='50'
				ng-disabled='!ctrl.isCheck() || !ctrl.payment.order_payment_bank_id'
				md-selected-item='ctrl.payment.order_payment_agency_id'
				md-search-text='ctrl.payment.order_payment_new_agency_code'
				md-search-text-change='ctrl.payment.order_payment_new_agency_code = ctrl.payment.order_payment_new_agency_code.substring(0, 10)'
				md-items='agency in ctrl.getBankAgency(ctrl.payment.order_payment_new_agency_code)'
				md-item-text='agency.queryable'
				md-min-length='0'
				md-input-maxlength='10'
				md-floating-label='Agência')
			md-item-template
				span(md-highlight-text='ctrl.payment.order_payment_new_agency_code' md-highlight-flags='^i')
					| {{agency.queryable}}
			md-not-found
				.text-light Nova agência

	div(layout='row')
		md-input-container(flex)
			label Número do cheque
			input.text-right(ng-model='ctrl.payment.order_payment_check_number' ng-change='ctrl.payment.order_payment_check_number = ctrl.payment.order_payment_check_number.substring(0, 10)' ng-disabled='!ctrl.isCheck()')
	
.footer.bordered(layout='row' layout-align='end center')
	md-button.md-primary.md-raised(name='positive' ng-click='ctrl._close(ctrl.payment)' ng-disabled='!ctrl.payment.modality_id')
		| &nbsp; Confirmar &nbsp;

	md-button.md-raised(name='positive' ng-click='ctrl._cancel()')
		| &nbsp; Fechar &nbsp;