.irineu(layout='row' layout-align='start center' layout-fill)
	span(flex) Informações do vendedor
	md-button.md-icon-button.md-raised.text-primary(ng-click='ctrl.showModalSeller()' style='margin-right: 0')
		md-icon(md-font-set='material-icons' style='font-size: 23px') search

.body(layout='column' layout-fill)

	div(layout='row')
		md-input-container(flex='25')
			label Código
			input(name='seller-code'
					ng-value='ctrl.budget.order_seller.person_code' 
					blur-to='ctrl.budget.order_seller.person_code'
					keys-shortcuts enter='ctrl.getSellerByCode($event.target.value)')
		.gatito(flex='85')
			md-autocomplete(md-delay='300'
							md-input-name='autocompleteSeller'
							md-no-cache='true'
							md-autoselect='true'
							md-escape-options='none'
							md-selected-item='ctrl.tempSeller'
							md-search-text='sellerQuery'
							md-selected-item-change='item.person_code && ctrl.getSellerByCode(item.person_code)'
							md-items='item in ctrl.getSellerByName(sellerQuery)'
							md-item-text='item.person_name'
							md-min-length='3'
							md-require-match='true'
							md-floating-label='Nome'
							ng-blur='ctrl.blurSeller()')
				md-item-template
					div(md-highlight-text='sellerQuery' style='line-height: 2') {{item.person_name}}
					div(style='font-size: 11px;line-height: 1')
						| Código: 
						| {{item.person_code}}

.footer(layout='row' layout-align='end center')
	md-button.md-primary.md-raised(name='confirm' ng-click='ctrl._close()' ng-disabled='!ctrl.budget.order_seller_id')
		| &nbsp; Ok &nbsp;