.body(layout='column' layout-fill style='min-width: 450px')
	div(layout='row')
		md-input-container(flex='60')
			label Modalidade
			md-select(ng-model='ctrl.modality'
					data-md-container-class='query-select-container'
					ng-model-options='{ trackBy: "$value.modality_id" }')
				md-select-header.select-header
					input.md-text(ng-model='ctrl.queryModality' 
							type='search' placeholder='Buscar modalidade'
							ng-keydown="ctrl.updateSearch($event)")
				md-opt-group(label='Modalidades')
					md-option(ng-value='m' 
							ng-repeat='m in ctrl.queryResult track by m.modality_id' 
							ng-click='ctrl.getModalityById(m.modality_id)')
						| {{m.modality_description}}

		div(flex='40' layout='row')
			md-input-container(flex)
				label Vencimento
				md-datepicker(ng-model='ctrl.payment.order_payment_deadline' md-hide-icons='all' md-is-open='ctrl.isCalendarOpen' md-min-date='ctrl.minDate')

			div(flex='25')
				md-button.md-icon-button.md-raised.md-primary(ng-click='ctrl.isCalendarOpen = true')
					md-icon(md-font-icon='fa fa-calendar')

	div(layout='row')
		md-input-container(flex='60')
			label Parcelas
			md-select(name='type' ng-model='ctrl.payment.order_payment_installment')
				md-option(ng-value='i.modality_item_installment' ng-repeat='i in ctrl.payment.modality.modality_item' ng-click='ctrl.setDeadline(i.modality_item_delay)') 
					| {{i.modality_item_installment}}x ({{ctrl.payment.order_payment_value / i.modality_item_installment | currency:'R$ '}})

		md-input-container(flex='40')
			label Valor
			input(ng-model='ctrl.payment.order_payment_value' currency symbol='R$ ')
	
.footer(layout='row' layout-align='end center')
	md-button.md-primary(name='positive' ng-click='ctrl._close(ctrl.payment)')
		| &nbsp; Adicionar &nbsp;

	md-button.md-primary(name='positive' ng-click='ctrl._cancel()')
		| &nbsp; Fechar &nbsp;