div(layout='row' layout-wrap ng-controller='NewAddressCtrl as address')
	div(flex='100' layout='row')
		span.md-subhead Endereço
		span(flex)
		md-input-container(style='margin: 0')
			md-switch(name='delivery' ng-true-value='"Y"' ng-false-value='"N"'
					ng-model='address.newAddress.person_address_delivery')
				| Endereço de Entrega

	md-input-container.buttonned(flex='15')
		label 
			| CEP
		input(ng-model='address.newAddress.person_address_cep' 
				ui-mask='99999-999' model-view-value='true'
				keys-shortcuts prevent-default 
				enter='address.focusOn("select[name=\'address-type\']")'
				f2='address.showModalCep()'
				ng-blur='address.getCep(address.newAddress.person_address_cep)')
		button(ng-click='address.showModalCep()')
			i.material-icons search

	md-input-container(flex='10')
		label 
			| Tipo
		md-select(name='address-type' ng-model='address.newAddress.person_address_type')
			md-option(ng-value='t' ng-repeat='t in address.types')
				| {{t}} 

	md-input-container(flex='60')
		label 
			| Logradouro
		input(ng-model='address.newAddress.person_address_public_place')

	md-input-container(flex='15')
		label 
			| Número
		input(ng-model='address.newAddress.person_address_number')

	md-input-container(flex='30')
		label 
			| Bairro
		md-select(ng-model='address.newAddress.district'
				data-md-container-class='query-select-container'
				ng-model-options='{ trackBy: "$value.district_id" }')
			md-select-header.select-header
				input.md-text(ng-model='address.queryDistrict' 
						type='search' placeholder='Digite o nome do bairro'
						ng-keydown="address.updateSearch($event)")
			md-opt-group(label='Bairros')
				md-option(ng-value='d' 
						ng-repeat='d in address.queryDistrictResult' 
						ng-click='address.districtChanged(d.district_id)')
					| {{::d.district_name}}

	md-input-container(flex='30')
		label 
			| Cidade
		md-select(ng-model='address.newAddress.city'
				data-md-container-class='query-select-container'
				ng-model-options='{ trackBy: "$value.city_id" }')
			md-select-header.select-header
				input.md-text(ng-model='address.queryCity' 
						type='search' placeholder='Digite o nome da cidade'
						ng-keydown="address.updateSearch($event)")
			md-opt-group(label='Cidades')
				md-option(ng-value='c' 
						ng-repeat='c in address.queryCityResult'
						ng-click='address.cityChanged(c.city_id, c.uf_id)')
					| {{c.city_name}} - {{c.uf_id}}

	md-input-container.md-icon-float(flex='20')
		label
			span Contribuição de ICMS
		md-select(name='category' ng-model='address.newAddress.icms_type'
				ng-change='address.icmsChanged()')
			md-option(value='1') Contribuinte ICMS
			md-option(value='2') Contribuinte Isento
			md-option(value='9') Não contribuinte

	md-input-container(flex='20')
		label 
			i.fa.fa-lock(ng-if='address.newAddress.icms_type == 2') &nbsp;
			| Inscrição Estadual
		input(ng-model='address.newAddress.person_address_ie' 
				ng-disabled='address.newAddress.icms_type == 2')

	div(layout='row' layout-wrap layout-fill)
		.offset-top-15(flex='50' layout='row' layout-wrap style='padding-right: 8px')
			div(flex='100') 
				p.md-subhead(style='margin: 0') Contatos

			.container-table(flex style='max-height: 100px')
				table.contacts-table
					tbody
						tr(ng-repeat='contact in address.newAddress.person_address_contact')
							td {{::contact.person_address_contact_label}}
							td 
								input(type='text' ng-model='contact.person_address_contact_value')

		div(flex='50' style='padding-left: 8px')
			.custom-textarea.offset-top-15.offset-bottom-15
				p(style='margin: 0').md-subhead Observações
				textarea.offset-top-15(ng-model='address.newAddress.person_address_note')

	div(layout='row' layout-fill layout-align='end center')
		md-button.md-raised.text-primary(ng-click='address.clear()')
			| Limpar

		md-button.md-raised.md-primary(ng-click='address.submit()')
			| Cadastrar

	div(flex='100' layout='row')
		pre(ng-if='debug')
			| {{address.newAddress | json}}