.open-order(layout='column' layout-fill)
	md-toolbar.open-order-container-nav
		.md-toolbar-tools(layout='row')
			.logo-container(flex='15')
				.logo

			span(flex)

			div(flex='60' layout='column')
				.clown(layout='row' layout-fill)
					md-input-container.md-select(flex='80')
						label Empresa
						md-select(name='type' ng-model='openOrder.companyId' ng-change='openOrder.getOrders()')
							md-option(ng-value='c.company_id' ng-repeat='c in openOrder.companies') 
								| {{c.company_erp.company_code}} - {{c.company_erp.company_name}}

					md-input-container.datepicker(flex ng-click='openOrder.calendar.start.isCalendarOpen = true')
						label Início
						md-datepicker(ng-model='openOrder.calendar.start.value' md-hide-icons='all' md-is-open='openOrder.calendar.start.isCalendarOpen' ng-change='openOrder.calendar.start.update()' md-max-date='openOrder.calendar.start.maxDate')

				.clown(layout='row' layout-fill)
					md-autocomplete(flex='80' 
									md-delay='300'
									md-input-name='autocompleteSeller'
									md-no-cache='true'
									md-autoselect='true'
									md-escape-options='none'
									md-selected-item='openOrder.seller'
									md-search-text='sellerQuery'
									md-items='item in openOrder.getSellerByName(sellerQuery)'
									md-item-text='item.queryable'
									md-min-length='3'
									md-require-match='true'
									md-floating-label='Vendedor')
						md-item-template
							div(md-highlight-text='sellerQuery' style='line-height: 2') {{item.person_name}}
							div(style='font-size: 11px;line-height: 1')
								| Código: 
								| {{item.person_code}}

					md-input-container.datepicker(flex ng-click='openOrder.calendar.end.isCalendarOpen = true')
						label Fim
						md-datepicker(ng-model='openOrder.calendar.end.value' md-hide-icons='all' md-is-open='openOrder.calendar.end.isCalendarOpen' md-min-date='openOrder.calendar.end.minDate' md-max-date='openOrder.calendar.end.maxDate' ng-change='openOrder.calendar.end.update()')

			span(flex)

			.end-menu(flex='15' layout='column' layout-fill)
				span(flex)

				div(layout='row' layout-align='center center')
					md-button.md-raised.filter(ng-click='openOrder.getOrders()' md-colors='{ background: "commercialBlue" }')
						i.material-icons(style='font-size: 16px; vertical-align: text-top') refresh&nbsp;
						| Atualizar

				span(flex)

				div(layout='row' layout-align='center center')
					md-button.md-raised(redirect-to='/order/new' query-key='company' query-value='{{openOrder.companyId}}' md-colors='{ background: "commercialGreen" }')
						i.material-icons(style='font-size: 16px; vertical-align: text-top') note_add&nbsp;
						| Novo

				span(flex)

		.order-table-header-container
			table.table.order-table
				thead
					tr
						th.sortable &nbsp;
						th.sortable(ng-click="openOrder.sortBy('order_code')")
							| CÓDIGO &nbsp;
							i.fa(ng-show="openOrder.grid.propertyName === 'order_code'" ng-class="!openOrder.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						th.sortable(ng-click="openOrder.sortBy('order_code_erp')")
							| ERP &nbsp;
							i.fa(ng-show="openOrder.grid.propertyName === 'order_code_erp'" ng-class="!openOrder.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						th.sortable(ng-click="openOrder.sortBy('order_client.person_name')")
							| CLIENTE &nbsp;
							i.fa(ng-show="openOrder.grid.propertyName === 'order_client.person_name'" ng-class="!openOrder.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						th.sortable(ng-click="openOrder.sortBy('order_seller.person_name')")
							| VENDEDOR &nbsp;
							i.fa(ng-show="openOrder.grid.propertyName === 'order_seller.person_name'" ng-class="!openOrder.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						th.sortable(ng-click="openOrder.sortBy('order_value_total')")
							| TOTAL &nbsp;
							i.fa(ng-show="openOrder.grid.propertyName === 'order_value_total'" ng-class="!openOrder.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						th.sortable(ng-click="openOrder.sortBy('order_date')")
							| DATA &nbsp;
							i.fa(ng-show="openOrder.grid.propertyName === 'order_date'" ng-class="!openOrder.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						th &nbsp;
						th &nbsp;

	md-content.open-order-dense-container(flex)
		table.table.order-table
			tbody
				tr(ng-repeat='o in openOrder.orders | orderBy:openOrder.grid.propertyName:openOrder.grid.reverse | filter: { queryable: openOrder.filters.query, order_status_id: openOrder.filters.status, order_export_type: openOrder.filters.exportType }' ng-dblclick='open(o.order_code)')
					td 
						md-icon(
							md-font-set='material-icons' 
							ng-style='{ "color": globals("order-export-type-colors")[o.order_export_type] }'
							ng-if='o.order_status_id == globals("order-status-values").open') cloud_queue
					
						md-icon(
							md-font-set='material-icons' 
							ng-style='{ "color": globals("order-export-type-colors")[o.order_export_type] }'
							ng-if='o.order_status_id == globals("order-status-values").exported') cloud

						md-icon(
							md-font-set='material-icons' 
							ng-style='{ "color": globals("order-export-type-colors")[o.order_export_type] }'
							ng-if='o.order_status_id == globals("order-status-values").billed') cloud_done

					td {{o.order_code}}
					td {{o.order_code_erp}}
					td {{o.order_client.person_name}}
					td {{o.order_seller.person_name}}
					td {{o.order_value_total | currency:'R$ '}}
					td {{o.order_date | date:'dd/MM/yyyy'}}
					td 
						md-button.md-icon-button(ng-click='open(o.order_code)' md-no-ink)
							md-icon.text-primary(md-font-icon='fa fa-pencil')
					td 
						md-button.md-icon-button(ng-click='delete(o)' md-no-ink)
							md-icon.text-primary(md-font-icon='material-icons') delete_forever

	.search-container(layout='row' ng-class='{ "opened": isSearchOpened }')
		span(flex)
		.search
			input(type='text' placeholder='Pesquisar' ng-model='openOrder.filters.query' keys-shortcuts escape='setSearchOpen(false)')
			a(ng-click='setSearchOpen(false)')
				i.fa.fa-remove

	md-toolbar.info(layout='column')
		.md-toolbar-tools(flex layout='row' layout-fill)
			.filters(flex layout='row')
				.status-filter(ng-click='openOrder.filters.setStatus("open", globals("order-status-values")["open"], 1)')
					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": globals("order-export-type-colors")["open"] }') cloud_queue
					span.md-subhead 
						| Salvo
		
				span(flex)

				.status-filter(ng-click='openOrder.filters.setStatus("order", globals("order-status-values")["exported"], 3)')
					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": globals("order-export-type-colors")["order"] }') cloud
					span.md-subhead 
						| Exportado Pedido

				span(flex)

				.status-filter(ng-click='openOrder.filters.setStatus("order", globals("order-status-values")["billed"], 5)')
					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": globals("order-export-type-colors")["order"] }') cloud_done
					span.md-subhead 
						| Faturado Pedido

				span(flex)

				.status-filter(ng-click='openOrder.filters.setStatus("dav", globals("order-status-values")["exported"], 7)')
					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": globals("order-export-type-colors")["dav"] }') cloud
					span.md-subhead 
						| Exportado Dav

				span(flex)

				.status-filter(ng-click='openOrder.filters.setStatus("dav", globals("order-status-values")["billed"], 9)')
					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": globals("order-export-type-colors")["dav"] }') cloud_done
					span.md-subhead 
						| Faturado Dav
			span(flex='20')

			md-button.md-icon-button.search-button(ng-click='setSearchOpen(true)')
				md-tooltip(md-direction='left') 
					| Pesquisar ({{ 'M-F' | keyboardShortcut }})
				md-icon.text-primary(md-font-set='material-icons') search