.open-order(layout='column' layout-fill)
	md-toolbar.open-order-container-nav
		.md-toolbar-tools
			md-truncate
				| Lista de orçamentos

			span(flex)

			input(flex='30' placeholder='Filtrar resultados' ng-model='openOrder.filter')

			span(flex)

			md-button.md-raised(redirect-to='/order/new')
				| Novo

	.order-table-header-container
		table.table.order-table
			thead
				tr
					th CÓDIGO
					th CLIENTE
					th VENDEDOR
					th TOTAL
					th DATA

	md-content.open-order-dense-container(flex)
		table.table.order-table
			tbody
				tr(ng-repeat='o in openOrder.orders | filter: { queryable: openOrder.filter }' ng-click='open(o.order_code)')
					td {{o.order_code}}
					td {{o.order_client.person_name}}
					td {{o.order_seller.person_name}}
					td {{o.order_value_total | currency:'R$ '}}
					td {{o.order_date | date:'dd/MM/yyyy'}}


		//- md-list.md-dense(flex)
			md-list-item.md-2-line(ng-repeat='o in openOrder.orders | filter: { queryable: openOrder.filter }' ng-click="open(o.order_code)")
				.icon(layout-align='center center' style='position: relative; z-index: 1;')

					md-tooltip(md-direction='right') {{globals("order-status-labels")[o.order_status_id]}}	

					md-icon(					
						md-font-set='material-icons' 
						ng-style='{ "color": globals("order-status-colors")[o.order_status_id] }'
						ng-if='o.order_status_id == globals("order-status-values").open') cloud_queue
					
					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": globals("order-status-colors")[o.order_status_id] }'
						ng-if='o.order_status_id == globals("order-status-values").exported') cloud

					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": globals("order-status-colors")[o.order_status_id] }'
						ng-if='o.order_status_id == globals("order-status-values").billed') cloud_done

				.md-list-item-text(flex layout='row' layout-align='start center')

					span(flex='10')
						b Código: 
						br
						| {{o.order_code}}

					span(flex)

					span(flex='25') 
						b Loja:
						br
						| {{o.order_company.company_name | truncate:'50'}}

					span(flex)

					span(flex='25')
						b Cliente: 
						br
						| {{o.order_client.person_name | truncate:'50'}}

					span(flex)

					span(flex='25')
						b Vendedor: 
						br
						| {{o.order_seller.person_name | truncate:'50'}}

					span(flex)

					span(flex='10')
						b Total: 
						br
						| {{o.order_value_total | currency:'R$ '}}

					span(flex)

					span(flex='10')
						b Data: 
						br
						| {{o.order_date | date:'dd/MM/yyyy'}}

				md-divider