div(layout='column' layout-fill ng-cloak)
	md-toolbar.open-order-container-nav
		.md-toolbar-tools
			md-truncate
				| Lista de orçamentos

			span(flex)

			md-button.md-raised(redirect-to='/order/new')
				| Novo

	md-content.open-order-container(flex)

		md-card.card(ng-repeat='o in openOrder.orders')
			md-card-content(layout='row')
				.icon(flex='15' layout='column' layout-align='center center')
					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": globals("order-status-colors")[o.order_status_id] }'
						ng-if='o.order_status_id == globals("order-status-values").open') cloud_queue
					
					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": globals("order-status-colors")[o.order_status_id] }'
						ng-if='o.order_status_id == globals("order-status-values").exported') cloud

					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": globals("order-status-colors")[o.order_status_id] }'
						ng-if='o.order_status_id == globals("order-status-values").billed') cloud_done
					
					span.subtitle 
						| {{globals("order-status-labels")[o.order_status_id]}}

				.description(flex layout='column')
					span.md-title
						a(ng-href='#/order/edit?code={{o.order_code}}') {{o.order_code}} - {{o.order_company.company_name}}

					div(layout='row')
						table(flex='70')
							tr
								td Vendedor: 
								td {{o.order_seller.person_code}} - {{o.order_seller.person_name}}
							tr
								td Cliente:
								td {{o.order_client.person_code}} - {{o.order_client.person_name}}
							tr
								td Total:
								td {{o.order_value_total | currency : 'R$ '}} 

						table.well(flex='30')
							tr
								td Status: 
								td {{globals('order-status-labels')[o.order_status_id]}}
							tr
								td Cód. ERP: 
								td {{o.order_code_erp || 'Indisponível'}}
							tr
								td Documento: 
								td {{o.order_code_document || 'Indisponível'}}

					div(layout='row')
						span.md-title
							a(ng-href='#/order/edit?code={{o.order_code}}') Recuperar

						span(flex='5')

						span.md-title
							a(ng-click='openOrder.print(o.order_code)') Imprimir

						span(flex='5')

						span.md-title
							a(ng-click='openOrder.savePDF(o.order_code)') Salvar PDF