.open-order(layout='column' layout-fill)
	md-toolbar.open-order-container-nav
		.md-toolbar-tools(layout='row')
			.logo-container(flex='15')
				.logo

			span(flex)

			div(flex='60' layout='column')
				.clown(layout='row' layout-fill)
					md-input-container.md-select(flex)
						label Empresa
						md-select(name='type' ng-model='openOrderFilters.companyId' ng-change='openOrder.getOrders()')
							md-option(ng-value='c.company_id' ng-repeat='c in openOrder.companies') 
								| {{c.company_erp.company_code}} - {{c.company_erp.company_name}}

					div(flex='initial' layout='row' style='min-width: 120px')
						md-input-container.datepicker()
							label Início
							md-datepicker(ng-model='openOrderFilters.calendars.start.value' md-hide-icons='calendar' md-is-open='openOrderFilters.calendars.start.isCalendarOpen' ng-change='openOrderFilters.calendars.start.update()' md-max-date='openOrderFilters.calendars.start.maxDate')
						
						//- div(flex='20')
							md-button.md-icon-button.md-primary(style='margin-top: 12px' ng-click='openOrderFilters.calendars.start.isCalendarOpen = true')
								md-icon(md-font-icon='fa fa-calendar')

				.clown(layout='row' layout-fill)
					md-input-container(flex='20')
						label Código
						input(name='seller-code'
								ng-value='openOrderFilters.seller.person_code' 
								blur-to='openOrderFilters.seller.person_code'
								keys-shortcuts
								enter='openOrder.getSellerByCode($event.target.value)')

					.autocomplete(flex layout="row")
						button(ng-show='openOrderFilters.seller.person_id' ng-click='openOrderFilters.seller=null')
							i.fa.fa-times-circle

						md-autocomplete(flex
										ng-model-options='{ debounce: 250 }'
										md-delay='250'
										md-input-name='autocompleteSeller'
										md-no-cache='false'
										md-autoselect='true'
										md-selected-item='openOrderFilters.seller'
										md-search-text='sellerQuery'
										md-items='item in openOrder.getSellerByName(sellerQuery)'
										md-item-text='item.person_name'
										md-min-length='3'
										md-floating-label='Vendedor')
							md-item-template
								div(md-highlight-text='sellerQuery' style='line-height: 2') {{item.person_name}}
								div(style='font-size: 11px;line-height: 1')
									| Código: 
									| {{item.person_code}}

					div(flex='initial' layout='row')
						md-input-container.datepicker(flex)
							label Fim
							md-datepicker(ng-model='openOrderFilters.calendars.end.value' md-hide-icons='calendar' md-is-open='openOrderFilters.calendars.end.isCalendarOpen' md-min-date='openOrderFilters.calendars.end.minDate' md-max-date='openOrderFilters.calendars.end.maxDate' ng-change='openOrderFilters.calendars.end.update()')
						
						//- div(flex='20')
							md-button.md-icon-button.md-primary(style='margin-top: 12px' ng-click='openOrderFilters.calendars.end.isCalendarOpen = true')
								md-icon(md-font-icon='fa fa-calendar')

			span(flex)

			.end-menu(flex='15' layout='column' layout-fill)
				span(flex)

				div(layout='row' layout-align='center center')
					md-button.md-raised.filter(ng-click='openOrder.getOrders()' md-colors='{ background: "commercialBlue" }')
						i.material-icons(style='font-size: 16px; vertical-align: text-top') refresh&nbsp;
						| Atualizar

				span(flex)

				div(layout='row' layout-align='center center')
					md-button.md-raised(ng-click='newOrder()' md-colors='{ background: "commercialGreen" }')
						i.material-icons(style='font-size: 16px; vertical-align: text-top') note_add&nbsp;
						| Novo

				span(flex)

		.order-table-header-container
			table.table.order-table
				thead
					tr
						th.sortable &nbsp;
						
						th.sortable(ng-click="openOrder.sortBy('order_code')")
							| CÓDIGO
							i.fa(ng-show="openOrderFilters.grid.propertyName === 'order_code'" ng-class="!openOrderFilters.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						
						th.sortable(ng-click="openOrder.sortBy('order_code_erp')")
							| ERP
							i.fa(ng-show="openOrderFilters.grid.propertyName === 'order_code_erp'" ng-class="!openOrderFilters.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						
						th.sortable(ng-click="openOrder.sortBy('order_customer_name')")
							| CLIENTE
							i.fa(ng-show="openOrderFilters.grid.propertyName === 'order_customer_name'" ng-class="!openOrderFilters.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						
						th.sortable(ng-click="openOrder.sortBy('order_seller_name')")
							| VENDEDOR
							i.fa(ng-show="openOrderFilters.grid.propertyName === 'order_seller_name'" ng-class="!openOrderFilters.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						
						th.sortable(ng-click="openOrder.sortBy('order_value_total_plus_st')")
							| TOTAL
							i.fa(ng-show="openOrderFilters.grid.propertyName === 'order_value_total_plus_st'" ng-class="!openOrderFilters.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						
						th.sortable(ng-click="openOrder.sortBy('order_date')")
							| DATA
							i.fa(ng-show="openOrderFilters.grid.propertyName === 'order_date'" ng-class="!openOrderFilters.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")

						th.sortable(ng-click="openOrder.sortBy('order_update')")
							| ATUALIZAÇÃO
							i.fa(ng-show="openOrderFilters.grid.propertyName === 'order_update'" ng-class="!openOrderFilters.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						
						th &nbsp;

	div(flex)
		md-virtual-repeat-container#virtual-repeat-container
			.repeated-item(layout='row' layout-align='start center' md-virtual-repeat='o in (filteredList = (openOrder.orders | orderBy:openOrderFilters.grid.propertyName:openOrderFilters.grid.reverse | filter: { queryable: openOrderFilters.filters.query } | filter:openOrderFilters.filters.cerol))' ng-dblclick='open(o)')
				span &nbsp;
					i.material-icons(ng-style='{ "color": o.cloudColor}' ng-class='{ "cloud-open": o.isOpen, "cloud-exported": o.isExported, "cloud-billed": o.isBilled }') &nbsp;
				span {{o.order_code}}
				span {{o.order_code_erp}}
				span {{o.order_customer_name}}
				span {{o.order_seller_name}}
				span {{o.order_value_total_plus_st_formatted}}
				span {{o.order_date_formatted}}
				span {{o.order_update_formatted}}
				span
					md-menu
						md-button.md-icon-button(ng-click='$mdMenu.open($event)')
							md-icon(md-menu-origin md-font-icon='fa fa-ellipsis-v')
						md-menu-content.open-order-menu-content(width='4')
							md-menu-item
								md-button(ng-click='open(o)')
									md-icon(md-font-icon='fa fa-folder-open-o')
									| ABRIR

							md-menu-item
								md-button(ng-click='clone(o)')
									md-icon(md-font-icon='fa fa-files-o')
									| DUPLICAR

							md-menu-divider

							md-menu-item
								md-button(ng-click='openOrder.printTicket(o.order_code)'  ng-disabled='o.order_status_id != openOrder.orderStatusValues["exported"]')
									md-icon(md-font-icon='fa fa-ticket')
									| IMPRIMIR TICKET
							
							md-menu-item
								md-button(ng-click='openOrder.print(o.order_code, null)')
									md-icon(md-font-icon='fa fa-print')
									| IMPRIMIR

							md-menu-item
								md-button(ng-click='openOrder.print(o.order_code, true)')
									md-icon(md-font-set='material-icons') receipt
									| IMPRIMIR EM CUPOM

							md-menu-item
								md-button(ng-click='openOrder.mail(o.order_code)')
									md-icon(md-font-icon='fa fa-envelope-o')
									| ENVIAR POR EMAIL

							md-menu-item
								md-button(ng-click='openOrder.print(o.order_code, null, true)')
									md-icon(md-font-icon='fa fa-file-pdf-o')
									| SALVAR PDF

							md-menu-divider

							md-menu-item
								md-button(ng-click='delete(o)' ng-disabled='o.order_status_id != openOrder.orderStatusValues["open"]')
									md-icon(md-font-set='material-icons') delete_forever
									| APAGAR

	.search-container(layout='row' ng-class='{ "opened": isSearchOpened }')
		span(flex)
		.search
			//- input(type='text' placeholder='Pesquisar' ng-model='tempFilter' keys-shortcuts escape='setSearchOpen(false)' enter='openOrderFilters.filters.query = tempFilter')
			input(type='text' placeholder='Pesquisar' ng-model='openOrderFilters.filters.query' keys-shortcuts escape='setSearchOpen(false)')
			a(ng-click='setSearchOpen(false)')
				i.fa.fa-remove

	md-toolbar.info(layout='column')
		.md-toolbar-tools(flex layout='row' layout-fill)
			.filters(flex='30' layout='row' layout-align='start')
				.status-filter(ng-click='openOrderFilters.filters.toggleStatus("open", openOrder.orderStatusValues["open"], 1)' ng-class='{ "active": openOrderFilters.filters.children.indexOf(1) >= 0 }')
					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": openOrder.orderExportTypeColors["open"] }') cloud_queue
					md-tooltip(md-direction='top') 
						| Salvo

				.status-filter(ng-click='openOrderFilters.filters.toggleStatus("order", openOrder.orderStatusValues["exported"], 2)' ng-class='{ "active": openOrderFilters.filters.children.indexOf(2) >= 0 }')
					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": openOrder.orderExportTypeColors["order"] }') cloud
					md-tooltip(md-direction='top') 
						| Pedido exportado

				.status-filter(ng-click='openOrderFilters.filters.toggleStatus("order", openOrder.orderStatusValues["billed"], 3)' ng-class='{ "active": openOrderFilters.filters.children.indexOf(3) >= 0 }')
					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": openOrder.orderExportTypeColors["order"] }') cloud_done
					md-tooltip(md-direction='top')
						| Pedido faturado

				.status-filter(ng-click='openOrderFilters.filters.toggleStatus("dav", openOrder.orderStatusValues["exported"], 4)' ng-class='{ "active": openOrderFilters.filters.children.indexOf(4) >= 0 }')
					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": openOrder.orderExportTypeColors["dav"] }') cloud
					md-tooltip(md-direction='top') 
						| Dav exportado

				.status-filter(ng-click='openOrderFilters.filters.toggleStatus("dav", openOrder.orderStatusValues["billed"], 5)' ng-class='{ "active": openOrderFilters.filters.children.indexOf(5) >= 0 }')
					md-icon(
						md-font-set='material-icons' 
						ng-style='{ "color": openOrder.orderExportTypeColors["dav"] }') cloud_done
					md-tooltip(md-direction='top') 
						| Dav faturado

			div(flex layout='row' layout-align='center center')
				span.summary
					div
						md-tooltip(md-direction='top') 
							| Orçamentos
						i.fa.fa-cubes
						| {{ filteredList ? filteredList.length : 0 }} &nbsp;
					div
						md-tooltip(md-direction='top') 
							| Valor total
						i.fa.fa-money
						| {{ openOrder.getSum(filteredList) | currency:'R$ '}} &nbsp;
					div
						md-tooltip(md-direction='top') 
							| Ticket médio
						i.fa.fa-bar-chart
						| {{ filteredList.length ? (openOrder.getSum(filteredList) / filteredList.length) : 0 | currency:'R$ ' }}

			div(flex='30' layout='row' layout-align='end center')
				md-button.md-icon-button.search-button(ng-click='setSearchOpen(true)')
					md-tooltip(md-direction='left') 
						| Pesquisar ({{ 'M-F' | keyboardShortcut }})
					md-icon.text-primary(md-font-set='material-icons') search