md-toolbar.md-menu-toolbar.order-toolbar.md-whiteframe-2dp
	div(layout='row')
		md-toolbar-filler(layout layout-align='center center')
			md-icon(md-font-set='material-icons') description

		div
			.md-toolbar-tools
				h1(ng-if='order.budget.order_code') 
					| Orçamento código {{order.budget.order_code}} em {{order.budget.order_date | date}}
				h1(ng-if='!order.budget.order_code') 
					| Novo Orçamento
			md-menu-bar.order-menu-bar
				md-menu
					button(ng-click='$mdMenu.open()') Arquivo
					md-menu-content
						md-menu-item
							md-button(ng-click='newOrder()')
								md-icon(md-font-set='material-icons') insert_drive_file
								|  Novo
						md-menu-item
							md-button(ng-click='open()')
								md-icon(md-font-set='material-icons') restore_page
								|  Recuperar
						md-menu-divider
						md-menu-item
							md-button(ng-click='save()')
								md-icon(md-font-set='material-icons') save
								|  Salvar
						md-menu-item
							md-button(ng-click='' disabled)
								md-icon(md-font-set='material-icons') cloud_upload
								|  Exportar
						md-menu-divider
						md-menu-item
							md-button(ng-click='order.savePDF("http://github.com")' disabled)
								md-icon(md-font-set='material-icons') print
								|  Imprimir
						md-menu-item
							md-button(ng-click='' disabled)
								md-icon(md-font-set='material-icons') mail
								|  Enviar por email
						md-menu-divider
						md-menu-item
							md-button(ng-click='' disabled)
								md-icon(md-font-set='material-icons') delete_forever
								|  Excluir
				md-menu
					button(ng-click='$mdMenu.open()') Orçamento
					md-menu-content
						md-menu-item
							md-button(ng-click='')
								md-icon(md-font-set='material-icons') assignment_ind
								| Remover vendedor
						md-menu-item
							md-button(ng-click='')
								md-icon(md-font-set='material-icons') person
								| Remover cliente
						md-menu-divider
						md-menu-item
							md-button(ng-click='')
								md-icon(md-font-set='material-icons') monetization_on
								| Aplicar desconto geral
				md-menu
					button(ng-click='$mdMenu.open()') Ir
					md-menu-content
						md-menu-item
							md-button(ng-click='order.scrollTo("section[name=\'seller\']")')
								| Vendedor
						md-menu-item
							md-button(ng-click='order.scrollTo("section[name=\'products\']")')
								| Produtos
						md-menu-item
							md-button(ng-click='order.scrollTo("section[name=\'customer\']")')
								| Cliente
						md-menu-item
							md-button(ng-click='order.scrollTo("section[name=\'notes\']")')
								| Observações
				md-menu
					button(ng-click='$mdMenu.open()') Ajuda
					md-menu-content
						md-menu-item
							md-button(ng-click='toast("Em breve!")')
								| Sobre

md-content#order(flex layout-padding style='background-color: #d9d9d9')

	.order-container
		//- Vendedor
		section(name='seller')
			md-card
				md-card-header
					md-card-header-text
						div(layout='row')
							div(flex='90' layout='column')
								span.md-title Vendedor
								span.md-subhead Informe o vendedor
							div(layout='column' layout-align='center end' layout-fill)
								md-button.md-raised(ng-click='order.clearSeller()')
									| Limpar
				md-card-content
					div(layout-gt-xs='row')
						md-input-container
							label Código
							input(ng-value='order.budget.order_seller.person_code' 
									blur-to='order.budget.order_seller.person_code'
									keys-shortcuts 
									enter='order.getSellerByCode($event.target.value)' 
									shift-enter='order.scrollTo("section[name=\'customer\']")')
						md-autocomplete(flex 
										md-input-name='autocompleteSeller'
										md-no-cache='true'
										md-autoselect='true'
										md-escape-options='none'
										md-selected-item='order.internal.tempSeller'
										md-search-text='sellerQuery'
										md-selected-item-change='item.person_code && order.getSellerByCode(item.person_code)'
										md-items='item in order.getSellerByName(sellerQuery)'
										md-item-text='item.person_name'
										md-min-length='3'
										md-require-match='true'
										md-floating-label='Nome'
										ng-blur='order.internal.blurSeller()')
							md-item-template
								div(md-highlight-text='sellerQuery' style='line-height: 2') {{item.person_name}}
								div(style='font-size: 11px;line-height: 1')
									| Código: 
									| {{item.person_code}}

					pre(ng-if='debug')
						| {{order.budget.order_seller | json}}

		//- Produtos					
		section(name='products')
			md-card
				md-card-header
					md-card-header-text
						div(layout='row')
							div(flex='90' layout='column')
								span.md-title Produtos
								span.md-subhead Adicione ou remova produtos
							div(layout='column' layout-align='center end' layout-fill)
								md-button.md-raised(ng-click='order.clearItems()')
									| Limpar
				md-card-content
					div(layout-gt-xs='row')
						md-input-container.md-icon-float(flex='25')
							label
								span Tabela de preços
							md-select(ng-model='order.internal.tempItem.user_price'
									ng-model-options='{ trackBy: "$value.price_id" }')
								md-option(ng-value='p' ng-repeat='p in order.internal.userPrices' 
										ng-click='order.priceTableChanged(p.price_id)')
									| {{p.price_erp.price_name}} 
						
						md-autocomplete(flex='75'
										md-input-name='autocompleteProduct'
										md-no-cache='true'
										md-autoselect='true'
										md-escape-options='none'
										md-selected-item='order.internal.tempProduct'
										md-search-text='productQuery'
										md-selected-item-change='item.product_code && order.getProductByCode(item.product_code)'
										md-items='item in order.getProductByName(productQuery)'
										md-item-text='item.product_name'
										md-min-length='3'
										md-require-match='true'
										md-floating-label='Código ou descrição'
										ng-blur='order.internal.blurItem()')
							md-item-template
								div(md-highlight-text='customerQuery' style='line-height: 2') {{item.product_name}}
								div(layout='row' style='color: #888')
									div(style='font-size: 11px;line-height: 1')
										| Código: 
										| {{item.product_code}}
									div(flex='5')
									div(style='font-size: 11px;line-height: 1')
										| Qtd em estoque: 
										| {{item.unit && item.unit.unit_format == "I" ? (item.stock.product_stock | number:'0') : item.stock.product_stock}} ({{item.unit.unit_initials}})
									div(flex='5')
									div(style='font-size: 11px;line-height: 1')
										| Preço: 
										| {{item.price.price_value | currency: 'R$ '}}

						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| Valor unitário
							input(ng-value='order.internal.tempItem.product.price.price_value | currency:"R$ "' tabindex='-1' readonly)
					
					div(layout='row')
						md-input-container(flex='25')
							label 
								| Quantidade
							input(name='amount' ng-model='order.internal.tempItem.order_item_amount'
									ng-change='order.internal.tempItem.setAmount(order.internal.tempItem.order_item_amount)'
									keys-shortcuts enter='order.focusOn("input[name=\'al-discount\']")'
									currency trim min-fraction-size='0' number-only 
									ng-disabled='!order.internal.tempItem.product.product_code')
						
						md-input-container(flex='25')
							label 
								| Desconto %
							input(name='al-discount' ng-model='order.internal.tempItemAlDiscount' 
									ng-model-options="{ updateOn: 'default blur' }"
									ng-blur='order.setItemAlDiscount(order.internal.tempItemAlDiscount)'
									currency trim max-fraction-size='4' number-only 
									ng-disabled='!order.internal.tempItem.product.product_code'
									keys-shortcuts enter='order.focusOn("input[name=\'vl-discount\']")')
						
						md-input-container(flex='25')
							label 
								| Desconto R$
							input(name='vl-discount' ng-model='order.internal.tempItemVlDiscount' 
									ng-model-options="{ updateOn: 'default blur' }"
									ng-blur='order.setItemVlDiscount(order.internal.tempItemVlDiscount)'
									currency number-only ng-disabled='!order.internal.tempItem.product.product_code'
									keys-shortcuts enter='order.addItem()')
						
						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| Total
							input(ng-value='order.internal.tempItem.getValueTotal() | currency:"R$ "' tabindex='-1' readonly)

					pre(ng-if='debug')
						| {{order.internal.tempItem | json}}

					div(layout='column' style='margin-top: 45px')
						.products-table-header-container
							table.products-table
								thead
									tr
										th &nbsp; PRODUTO
										th UND
										th QTD
										th VL UNIT
										th DESC %
										th DESC R$
										th VALOR TOTAL
										th &nbsp;
						.container-table
							table.products-table
								tbody
									tr(ng-repeat='i in order.budget.order_items' layout='row')
										td {{i.product.product_code}} - {{i.product.product_name}}
										td {{i.product.unit.unit_initials}}
										td {{i.order_item_amount}}
										td {{i.order_item_value | currency}}
										td {{i.order_item_al_discount | currency:''}}%
										td {{i.order_item_vl_discount | currency}}
										td {{i.getValueTotal() | currency}}
										td
											md-menu
												md-button.md-icon-button(tabindex='-1' ng-click='order.editItemMenu($mdMenu, $event)')
													md-icon(md-font-icon='fa fa-ellipsis-v')
												md-menu-content(width='2')
													md-menu-item
														md-button(ng-click='order.showEditItemModal(i)') 
															md-icon(md-font-set='material-icons' md-menu-align-target) create
															|  Editar
													md-menu-divider
													md-menu-item
														md-button(ng-click='order.removeItem(i)')
															md-icon(md-font-set='material-icons' md-menu-align-target) delete_forever
															|  Excluir

					div(layout='row' style='margin-top: 30px')
						div(flex)
						md-input-container.large-input(flex='15')
							label Desconto %
							input(tabindex='-1' readonly ng-model='order.budget.order_al_discount'
									currency trim max-fraction-size='4')
						md-input-container.large-input(flex='15')
							label Desconto R$
							input(tabindex='-1' readonly ng-value='order.budget.order_vl_discount | currency: "R$ "')
						md-input-container.large-input(flex='15')
							label Total
							input(tabindex='-1' readonly ng-value='order.budget.order_value_total | currency:"R$ "')

		//- Cliente
		section(name='customer')
			md-card(layout-align='center')
				md-card-header
					md-card-header-text
						div(layout='row')
							div(flex='90' layout='column')
								span.md-title Cliente
								span.md-subhead Informe o cliente e seu endereço de entrega
							div(layout='row' layout-align='end center' layout-fill)
								md-button.md-raised(ng-click='order.newCustomer()')
									| &nbsp; Cadastrar &nbsp;
								md-button.md-raised(ng-click='order.clearCustomer()')
									| Limpar
				
				md-card-content
					div(layout-gt-xs='row' layout-wrap)
						md-input-container(flex='25')
							label Código
							input(ng-value='order.budget.order_client.person_code' 
									blur-to='order.budget.order_client.person_code'
									keys-shortcuts 
									enter='order.getCustomerByCode($event.target.value)' 
									shift-enter='')
						md-autocomplete(flex='75'
										md-input-name='autocompleteCustomer'
										md-no-cache='true'
										md-autoselect='true'
										md-escape-options='none'
										md-selected-item='order.internal.tempCustomer'
										md-search-text='customerQuery'
										md-selected-item-change='item.person_code && order.getCustomerByCode(item.person_code)'
										md-items='item in order.getCustomerByName(customerQuery)'
										md-item-text='item.person_name'
										md-min-length='3'
										md-require-match='true'
										md-floating-label='Nome'
										ng-blur='order.internal.blurCustomer()')
							md-item-template
								div(md-highlight-text='customerQuery' style='line-height: 2') {{item.person_name}}
								div(style='font-size: 11px;line-height: 1')
									| Código: 
									| {{item.person_code}}
						
						md-input-container.md-icon-float(flex='25')
							label
								span
									i.fa.fa-lock &nbsp;
									span Tipo
							input(ng-value='order.budget.order_client.person_id && order.budget.order_client.getType()' readonly)
						
						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| CPF
							input(ng-value='order.budget.order_client.person_cpf' readonly)

						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| CNPJ
							input(ng-value='order.budget.order_client.person_cnpj' readonly)

						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| Inscrição Estadual
							input(ng-value='order.budget.order_client.getMainAddress().person_address_ie' readonly)


					div(layout='column' style='margin-top: 30px')
						md-tabs(md-selected='order.internal.address.selectedTabIndex' md-border-bottom flex)
							md-tab(label='Endereço de entrega' ng-disabled='!order.budget.order_client.person_id')
								md-content(layout='column' style='padding: 0' layout-fill)
									.boneco(flex layout='row' layout-wrap style='overflow: auto')
										div(flex layout='column' layout-align='center center' 
												ng-if='order.budget.order_client.person_id && order.budget.order_client.person_address == 0')
											h1.inner-text Nenhum endereço cadastrado.
											md-button.md-raised.md-primary(ng-click='order.internal.address.selectedTabIndex = 1') 
												| &nbsp; Cadastrar &nbsp;
										
										//- card de endereco
										div(flex='33' 
												ng-repeat='a in order.budget.order_client.person_address track by $index'
												ng-if='order.budget.order_client.person_address.length > 0')
											md-card(ng-class='{"active": a.person_address_code == order.budget.order_address_delivery_code}')
												md-card-content(layout='column' layout-fill) 
													div(flex='15' layout='row')
														b Cód: {{a.person_address_code}}
															span(ng-if='a.person_address_main != "N"') &nbsp;(Principal)
														div(flex)
														.label.label-success(ng-if='a.person_address_code == order.budget.order_address_delivery_code') 
															i.fa.fa-map-marker &nbsp;
															| Selecionado
														.label.label-error(ng-if='a.person_address_active == "N"') 
															| Inativo
													div(flex layout='row' layout-align='start center')
														p.text-light
															| {{a.toString()}}
															//- | {{a.person_address_public_place}}
													div(flex layout='row')
														div(flex='50' layout='row' layout-align='start end')
															md-button.md-primary(
																	style='margin: 0'
																	ng-click='order.showAddressContact(a.person_address_contact)')
																| {{a.person_address_contact.length}}
																| {{a.person_address_contact.length == 1 ? 'Contato' : 'Contatos'}}
														span(flex)
														div(flex='30' layout='row' layout-align='end end')
															md-button.md-icon-button.md-raised.md-primary(
																	style='margin: 0'
																	ng-click='order.budget.setDeliveryAddress(a)' 
																	ng-disabled='a.person_address_active == "N" || a.person_address_code == order.budget.order_address_delivery_code')
																md-icon(md-font-icon='fa fa-check')

										//- card vazio 
										div(flex='33' ng-if='order.budget.order_client.person_address.length > 0')
											md-card.dashed-empty-card
												md-card-content(layout='column' layout-align='center center' layout-fill)
													div
														md-button.md-icon-button.md-raised.md-primary(
																ng-click='order.internal.address.selectedTabIndex = 1')
															md-icon(md-font-icon='fa fa-plus')
													div.offset-top-15
														p.text-primary.text-center Novo Endereço

									.delivery-address
										md-toolbar
											.md-toolbar-tools
												i.fa.fa-2x.fa-truck &nbsp;
												p(ng-if='!order.budget.order_address_delivery_code') Nenhum endereço informado!
												div(layout='column' ng-if='order.budget.order_address_delivery_code') 
													span(style='font-size: 11px')
														| Código: {{order.budget.order_address_delivery_code}}
													span {{order.budget.address_delivery.toString()}}

							md-tab(label='Novo endereço' ng-disabled='!order.budget.order_client.person_id')
								md-content
									form(layout='row' name='newAddressForm')
										md-card.new-address-card(flex)
											md-card-content(ng-include='"./partials/newAddress.html"')

					pre(ng-if='debug')
						| {{order.budget.order_client | json}}

		//- Observações
		section(name='notes')
			md-card(layout-align='center')
				md-card-header
					md-card-header-text
						div(layout='row')
							div(flex='90' layout='column')
								span.md-title Observações
								span.md-subhead Aqui você pode inserir informações adicionais sobre o orçamento
							div(layout='column' layout-align='center end' layout-fill)
								md-button.md-raised(ng-click='order.clearNote()')
									| Limpar
				md-card-content
					div(layout-gt-xs='row')
						md-input-container(flex)
							label Observações
							textarea(ng-model='order.budget.order_note' md-maxlength='150' rows='3')

footer(ng-if='currentPath !== "/login" && currentPath !== "/logout" && currentPath !== "/loading" && currentPath.indexOf("/order/print/") < 0')
	md-toolbar
		div(layout='row' layout-align='start center' flex)
			| &nbsp;Usuário: {{order.budget.order_user.user_name}}
			| &nbsp;|&nbsp;
			| Empresa: {{order.budget.order_company.company_name || 'Não informado.'}}