md-toolbar.md-menu-toolbar.order-toolbar.md-whiteframe-2dp
	div(layout='row')
		md-toolbar-filler(layout layout-align='center center')
			md-icon(md-font-set='material-icons') description

		div
			.md-toolbar-tools
				h1 Novo Orçamento
			md-menu-bar.order-menu-bar
				md-menu
					button(ng-click='$mdMenu.open()') Arquivo
					md-menu-content
						md-menu-item
							md-button(ng-click='order.showDialog()')
								md-icon(md-font-set='material-icons') insert_drive_file
								|  Novo
						md-menu-item
							md-button(ng-click='')
								md-icon(md-font-set='material-icons') restore_page
								|  Recuperar
						md-menu-divider
						md-menu-item
							md-button(ng-click='')
								md-icon(md-font-set='material-icons') save
								|  Salvar
						md-menu-item
							md-button(ng-click='' disabled)
								md-icon(md-font-set='material-icons') cloud_upload
								|  Exportar
						md-menu-divider
						md-menu-item
							md-button(ng-click='order.savePDF("http://github.com")')
								md-icon(md-font-set='material-icons') print
								|  Imprimir
						md-menu-item
							md-button(ng-click='' disabled)
								md-icon(md-font-set='material-icons') mail
								|  Enviar por email
						md-menu-divider
						md-menu-item
							md-button(ng-click='' disabled)
								md-icon(md-font-set='material-icons') delete_forever
								|  Excluir
				md-menu
					button(ng-click='$mdMenu.open()') Editar
					md-menu-content
						md-menu-item
							md-button(ng-click='')
								| Vendedor
				md-menu
					button(ng-click='$mdMenu.open()') Ver
					md-menu-content
						md-menu-item
							md-button(ng-click='')
								| Vendedor
				md-menu
					button(ng-click='$mdMenu.open()') Ajuda
					md-menu-content
						md-menu-item
							md-button(ng-click='toast("Tooooastyyyy bolado!", "success")')
								| Sobre

md-content#order(flex layout-padding style='background-color: #d9d9d9')

	.order-container
		//- Vendedor
		section(name='seller')
			md-card
				md-card-header
					md-card-header-text
						span.md-title Vendedor
						span.md-subhead Informe o vendedor
				md-card-content
					div(layout-gt-xs='row')
						md-input-container
							label Código
							input(ng-value='order.budget.seller.person_code' 
								  blur-to='order.budget.seller.person_code'
								  keys-shortcuts 
								  enter='order.getSellerByCode($event.target.value)' 
								  shift-enter='order.scrollTo("section[name=\'customer\']")')
						md-autocomplete(flex 
										md-input-name='autocompleteSeller'
										md-no-cache='false'
										md-escape-options='none'
										md-selected-item='order.internal.tempSeller'
										md-search-text='sellerQuery'
										md-selected-item-change='order.getSellerByCode(item.person_code)'
										md-items='item in order.getSellerByName(sellerQuery)'
										md-item-text='item.person_name'
										md-min-length='3'
										md-require-match='true'
										md-floating-label='Nome'
										ng-blur='order.internal.blurSeller()')
							md-item-template
								div(md-highlight-text='sellerQuery' style='line-height: 2') {{item.person_name}}
								div(style='font-size: 11px;line-height: 1')
									| Código: 
									| {{item.person_code}}

					pre(ng-if='debug')
						| {{order.budget.seller | json}}

		//- Produtos					
		section(name='products')
			md-card
				md-card-header
					md-card-header-text
						span.md-title Produtos
						span.md-subhead Adicione ou remova produtos
				md-card-content
					div(layout-gt-xs='row')
						md-input-container(flex='25')
							label Código
							input(ng-model='codigo')
						md-autocomplete(flex 
										md-input-name='autocompleteField'
										md-input-minlength='2'
										md-input-maxlength='18'
										md-no-cache='order.noCache'
										md-selected-item='order.selectedItem'
										md-search-text='order.searchText'
										md-items='item in order.querySearch(order.searchText)'
										md-item-text='item.display'
										md-require-match
										md-floating-label='Descrição')
							md-item-template
								div(md-highlight-text='order.searchText' style='line-height: 2') {{item.display}}
								div(style='font-size: 11px;line-height: 1')
									| Código: 
									| {{item.code}}
						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| Valor unitário
							input(ng-model='valor' tabindex='-1' readonly)
					div(layout='row')
						md-input-container(flex='25')
							label Quantidade
							input(ng-model='quantidade')
						md-input-container(flex='25')
							label Desconto %
							input(ng-model='descontoAl' ng-model-options="{ updateOn: 'default blur' }")
						md-input-container(flex='25')
							label Desconto R$
							input(ng-model='descontoVl' ng-model-options="{ updateOn: 'default blur' }")
						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| Total
							input(ng-model='total' tabindex='-1' readonly)

					div(layout='column' style='margin-top: 45px')
						div(style='padding-right: 10px')
							table.products-table
								thead
									tr
										th Produto
										th Un
										th Qtd
										th Vl unit
										th Desc %
										th Desc R$
										th Total
										th &nbsp;
						.container-table
							table.products-table
								tbody
									tr(ng-repeat='n in getNumber(12) track by $index' layout='row')
										td 00000{{$index + 1}} Silicone bolado sinistramente qualificado
										td UN
										td 10
										td R$ 15,00
										td 10,00%
										td R$ 15,00
										td R$ 135,00 &nbsp;
										td
											md-menu
												md-button.md-icon-button(tabindex='-1' ng-click='order.editItemMenu($mdMenu, $event)')
													md-icon(md-font-icon='fa fa-ellipsis-v')
												md-menu-content(width='2')
													md-menu-item
														md-button(ng-click='') 
															md-icon(md-font-set='material-icons' md-menu-align-target) create
															|  Editar
													md-menu-divider
													md-menu-item
														md-button(ng-click='')
															md-icon(md-font-set='material-icons' md-menu-align-target) delete_forever
															|  Excluir

					div(layout='row' style='margin-top: 30px')
						div(flex)
						md-input-container.large-input(flex='15')
							label Desconto %
							input(tabindex='-1' readonly value='0,00%')
						md-input-container.large-input(flex='15')
							label Desconto R$
							input(tabindex='-1' readonly value='R$ 0,00')
						md-input-container.large-input(flex='15')
							label Total
							input(tabindex='-1' readonly value='R$ 0,00')

		//- Cliente
		section(name='customer')
			md-card(layout-align='center')
				md-card-header
					md-card-header-text
						span.md-title Cliente
						span.md-subhead Informe o cliente e seu endereço de entrega
				
				md-card-content
					div(layout-gt-xs='row' layout-wrap)
						md-input-container(flex='25')
							label Código
							input(ng-value='order.budget.customer.person_code' 
								  blur-to='order.budget.customer.person_code'
								  keys-shortcuts 
								  enter='order.getCustomerByCode($event.target.value)' 
								  shift-enter='')
						md-autocomplete(flex='75'
										md-input-name='autocompleteCustomer'
										md-no-cache='false'
										md-escape-options='none'
										md-selected-item='order.internal.tempCustomer'
										md-search-text='customerQuery'
										md-selected-item-change='order.getCustomerByCode(item.person_code)'
										md-items='item in order.getCustomerByName(customerQuery)'
										md-item-text='item.person_name'
										md-min-length='3'
										md-require-match='true'
										md-floating-label='Nome'
										ng-blur='order.internal.blurCustomer()')
							md-item-template
								div(md-highlight-text='customerQuery' style='line-height: 2') {{item.person_name}}
								div(style='font-size: 11px;line-height: 1')
									| Código: 
									| {{item.person_code}}
						
						md-input-container.md-icon-float(flex='25')
							label
								span
									i.fa.fa-lock &nbsp;
									span Tipo
							input(ng-value='order.budget.customer.getType()' readonly)
						
						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| CPF
							input(ng-value='order.budget.customer.person_cpf' readonly)

						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| CNPJ
							input(ng-value='order.budget.customer.person_cnpj' readonly)

						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| Inscrição Estadual
							input(ng-value='order.budget.customer.getMainAddress().person_address_ie' readonly)

					pre(ng-if='debug')
						| {{order.budget.customer | json}}

					div(layout='row' style='margin-top: 30px')
						md-tabs(md-selected='selectedTabIndex' md-border-bottom flex)
							md-tab(label='Endereço de entrega')
								md-content(layout='row' layout-wrap style='padding: 0' layout-fill)
									div(flex 
										layout='column' layout-align='center center' 
										ng-if='order.budget.customer.person_address == 0')
										h1.inner-text Nenhum endereço cadastrado.
										md-button.md-raised.md-primary(ng-click='toast("hola")') &nbsp; Cadastrar &nbsp;
									div(flex='33' 
										ng-repeat='a in order.budget.customer.person_address track by $index'
										ng-if='order.budget.customer.person_address.length > 0')
										md-card(ng-class='{"active": $index == 0}')
											md-card-content(layout='column' layout-fill) 
												div(flex='15' layout='row')
													b Código: {{a.person_address_code}}
													div(flex)
													.label.label-success(ng-if='a.person_address_main != "N"') 
														| Principal
													.label.label-error(ng-if='a.person_address_active == "N"') 
														| Inativo
												div(flex layout='row' layout-align='center center')
													p.text-center
														| {{a.person_address_type}} 
														| {{a.person_address_public_place}}
														| {{a.person_address_number}} -
														| {{a.district.district_name}},
														| {{a.city.city_name}} -
														| {{a.city.uf_id}}
												div(flex='30' layout='row' layout-align='end end')
													md-button.md-icon-button.md-raised.md-primary(ng-disabled='$index === 0')
														md-icon(md-font-icon='fa fa-check')

							md-tab(label='Novo endereço')
								md-content(layout-padding)
									h2 Novo Endereço
		//- Observações
		section(name='notes')
			md-card(layout-align='center')
				md-card-header
					md-card-header-text
						span.md-title Observações
						span.md-subhead Aqui você pode inserir informações adicionais sobre o pedido
				md-card-content
					div(layout-gt-xs='row')
						md-input-container(flex)
							label Observações
							textarea(ng-model='observacoes' md-maxlength='150' rows='3')