md-toolbar.md-menu-toolbar.order-toolbar.md-whiteframe-2dp
	div(layout='row')
		md-toolbar-filler(layout layout-align='center center')
			md-icon(md-font-set='material-icons') description

		div
			.md-toolbar-tools
				h1 Novo Orçamento
			md-menu-bar.order-menu-bar
				md-menu
					button(ng-click='$mdMenu.open()') Arquivo
					md-menu-content
						md-menu-item
							md-button(ng-click='order.showDialog()')
								md-icon(md-font-set='material-icons') insert_drive_file
								|  Novo
						md-menu-item
							md-button(ng-click='')
								md-icon(md-font-set='material-icons') restore_page
								|  Recuperar
						md-menu-divider
						md-menu-item
							md-button(ng-click='')
								md-icon(md-font-set='material-icons') save
								|  Salvar
						md-menu-item
							md-button(ng-click='' disabled)
								md-icon(md-font-set='material-icons') cloud_upload
								|  Exportar
						md-menu-divider
						md-menu-item
							md-button(ng-click='' disabled)
								md-icon(md-font-set='material-icons') print
								|  Imprimir
						md-menu-item
							md-button(ng-click='' disabled)
								md-icon(md-font-set='material-icons') mail
								|  Enviar por email
						md-menu-divider
						md-menu-item
							md-button(ng-click='' disabled)
								md-icon(md-font-set='material-icons') delete_forever
								|  Excluir
				md-menu
					button(ng-click='$mdMenu.open()') Editar
					md-menu-content
						md-menu-item
							md-button(ng-click='')
								| Vendedor
				md-menu
					button(ng-click='$mdMenu.open()') Ver
					md-menu-content
						md-menu-item
							md-button(ng-click='')
								| Vendedor
				md-menu
					button(ng-click='$mdMenu.open()') Ajuda
					md-menu-content
						md-menu-item
							md-button(ng-click='order.toast("Tooooastyyyy bolado!")')
								| Sobre

md-content#order(flex layout-padding style='background-color: #d9d9d9')

	.order-container
		//- Vendedor
		section(name='seller')
			md-card
				md-card-header
					md-card-header-text
						span.md-title Vendedor
						span.md-subhead Informe o vendedor
				md-card-content
					div(layout-gt-xs='row')
						md-input-container
							label Código
							input(keys-shortcuts 
								  enter='order.getPersonByCode($event.target.value)' 
								  shift-enter='order.scrollTo("section[name=\'customer\']")')
						md-autocomplete(flex 
										md-input-name='autocompleteField'
										md-input-minlength='2'
										md-input-maxlength='18'
										md-no-cache='order.noCache'
										md-selected-item='order.selectedItem2'
										md-search-text='order.searchText'
										md-items='item in order.getPersonByName(order.searchText, "Vendedor")'
										md-item-text='item.Nome'
										md-require-match
										md-floating-label='Nome')
							md-item-template
								div(md-highlight-text='order.searchText' style='line-height: 2') {{item.Nome}}
								div(style='font-size: 11px;line-height: 1')
									| Código: 
									| {{item.Codigo}}
					pre
						| {{order.selectedItem2 | json}}
		//- Produtos					
		section(name='products')
			md-card
				md-card-header
					md-card-header-text
						span.md-title Produtos
						span.md-subhead Adicione ou remova produtos
				md-card-content
					div(layout-gt-xs='row')
						md-input-container(flex='25')
							label Código
							input(ng-model='codigo')
						md-autocomplete(flex 
										md-input-name='autocompleteField'
										md-input-minlength='2'
										md-input-maxlength='18'
										md-no-cache='order.noCache'
										md-selected-item='order.selectedItem'
										md-search-text='order.searchText'
										md-items='item in order.querySearch(order.searchText)'
										md-item-text='item.display'
										md-require-match
										md-floating-label='Descrição')
							md-item-template
								div(md-highlight-text='order.searchText' style='line-height: 2') {{item.display}}
								div(style='font-size: 11px;line-height: 1')
									| Código: 
									| {{item.code}}
						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| Valor unitário
							input(ng-model='valor' tabindex='-1' readonly)
					div(layout='row')
						md-input-container(flex='25')
							label Quantidade
							input(ng-model='quantidade')
						md-input-container(flex='25')
							label Desconto %
							input(ng-model='descontoAl' ng-model-options="{ updateOn: 'default blur' }")
						md-input-container(flex='25')
							label Desconto R$
							input(ng-model='descontoVl' ng-model-options="{ updateOn: 'default blur' }")
						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| Total
							input(ng-model='total' tabindex='-1' readonly)

					div(layout='column' style='margin-top: 45px')
						div(style='padding-right: 10px')
							table.products-table
								thead
									tr
										th Produto
										th Un
										th Qtd
										th Vl unit
										th Desc %
										th Desc R$
										th Total
										th &nbsp;
						.container-table
							table.products-table
								tbody
									tr(ng-repeat='n in getNumber(12) track by $index' layout='row')
										td 00000{{$index + 1}} Silicone bolado sinistramente qualificado
										td UN
										td 10
										td R$ 15,00
										td 10,00%
										td R$ 15,00
										td R$ 135,00 &nbsp;
										td
											md-menu
												md-button.md-icon-button(tabindex='-1' ng-click='order.editItemMenu($mdMenu, $event)')
													md-icon(md-font-icon='fa fa-ellipsis-v')
												md-menu-content(width='2')
													md-menu-item
														md-button(ng-click='') 
															md-icon(md-font-set='material-icons' md-menu-align-target) create
															|  Editar
													md-menu-divider
													md-menu-item
														md-button(ng-click='')
															md-icon(md-font-set='material-icons' md-menu-align-target) delete_forever
															|  Excluir

					div(layout='row' style='margin-top: 30px')
						div(flex)
						md-input-container.large-input(flex='15')
							label Desconto %
							input(tabindex='-1' readonly value='0,00%')
						md-input-container.large-input(flex='15')
							label Desconto R$
							input(tabindex='-1' readonly value='R$ 0,00')
						md-input-container.large-input(flex='15')
							label Total
							input(tabindex='-1' readonly value='R$ 0,00')

		//- Cliente
		section(name='customer')
			md-card(layout-align='center')
				md-card-header
					md-card-header-text
						span.md-title Cliente
						span.md-subhead Informe o cliente e seu endereço de entrega
				
				md-card-content
					div(layout-gt-xs='row' layout-wrap)
						md-input-container(flex='25')
							label Código
							input(ng-model='codigo')
						
						md-autocomplete(flex='75' 
										md-input-name='autocompleteField'
										md-input-minlength='2'
										md-input-maxlength='18'
										md-no-cache='order.noCache'
										md-selected-item='order.selectedItem'
										md-search-text='order.searchText'
										md-items='item in order.querySearch(order.searchText)'
										md-item-text='item.display'
										md-require-match
										md-floating-label='Nome')
							md-item-template
								div(md-highlight-text='order.searchText' style='line-height: 2') {{item.display}}
								div(style='font-size: 11px;line-height: 1')
									| Código: 
									| {{item.code}}
						
						md-input-container.md-icon-float(flex='25')
							label
								span
									i.fa.fa-lock &nbsp;
									span Tipo
							input(readonly ng-if='true')
							md-select(ng-model='tipo' ng-if='false')
								md-option(value='F') Pessoa Física
								md-option(value='J') Pessoa Jurídica
						
						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| CPF
							input(readonly)

						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| CNPJ
							input(readonly)

						md-input-container(flex='25')
							label 
								i.fa.fa-lock &nbsp;
								| Inscrição Estadual
							input(readonly)

					div(layout='row' style='margin-top: 30px')
						md-tabs(md-selected='selectedTabIndex' md-border-bottom flex)
							md-tab(label='Endereço de entrega')
								md-content(layout='row' layout-wrap style='padding: 0' layout-fill)
									div(layout='column' layout-align='center center' flex ng-if='false')
										h1.inner-text Nenhum endereço cadastrado.
										md-button.md-raised.md-primary(ng-click='order.toast("hola")') &nbsp; Cadastrar &nbsp;
									div(flex='33' ng-repeat='n in getNumber(5) track by $index' ng-if='true')
										md-card(ng-class='{"active": $index == 0}')
											md-card-content
												p 
													i.fa(ng-class='{"fa-star-o": $index == 0}') &nbsp;
													b Endereço {{$index == 0 ? 'Principal' : $index}}
												p
													| Cód: 00000{{$index}}
													br
													| Rua Preto e Branca 777 - Bairro Doido 
													br
													| Cidade Doida Estado Doido
												md-button.md-icon-button.md-raised.md-primary
													md-icon(md-font-icon='fa fa-check')

							md-tab(label='Novo endereço')
								md-content(layout-padding)
									h2 Novo Endereço
		//- Observações
		section(name='notes')
			md-card(layout-align='center')
				md-card-header
					md-card-header-text
						span.md-title Observações
						span.md-subhead Aqui você pode inserir informações adicionais sobre o pedido
				md-card-content
					div(layout-gt-xs='row')
						md-input-container(flex)
							label Observações
							textarea(ng-model='observacoes' md-maxlength='150' rows='3')