md-toolbar.md-menu-toolbar.order-toolbar.md-whiteframe-2dp
	div(layout='row' layout-fill)
		md-toolbar-filler(layout layout-align='center center' ng-class='order.budget.order_code ? "edit" : "new"')
			md-icon(md-font-set='material-icons' ng-if='order.budget.order_code') description
			md-icon(md-font-set='material-icons' ng-if='!order.budget.order_code') note_add

		div(flex)
			md-menu-bar.order-menu-bar
				md-menu
					button(ng-click='$mdMenu.open()') Arquivo
					md-menu-content.order-menu-content
						md-menu-item
							md-button(ng-click='newOrder()')
								md-icon(md-font-icon='fa fa-file-o')
								|  Novo
								span.md-alt-text {{ 'M-N' | keyboardShortcut }}
						//- md-menu-item
							md-button(ng-click='open()')
								md-icon(md-font-icon='fa fa-folder-open-o')
								|  Abrir
								span.md-alt-text {{ 'M-A' | keyboardShortcut }}
						md-menu-item
							md-button(ng-click='clone()' ng-disabled='!order.canPrint()')
								md-icon(md-font-icon='fa fa-files-o')
								|  Duplicar
						md-menu-divider
						md-menu-item
							md-button(ng-click='save()' ng-disabled='!order.canSave() || order.isToolbarLocked()')
								md-icon(md-font-icon='fa fa-floppy-o')
								|  Salvar
								span.md-alt-text {{ 'M-S' | keyboardShortcut }}

						md-menu-item
							md-button(ng-click='order.exportOrder()' ng-disabled='!order.canExport() || order.isToolbarLocked()')
								md-icon(md-font-icon='fa fa-cloud-upload')
								| Exportar Pedido
						
						md-menu-item
							md-button(ng-click='order.exportDAV()' ng-disabled='!order.canExport() || order.isToolbarLocked()')
								md-icon(md-font-icon='fa fa-upload')
								| Exportar DAV

						md-menu-divider
						md-menu-item
							md-button(ng-click='order.print()' ng-disabled='!order.canPrint()')
								md-icon(md-font-set='material-icons') print
								|  Imprimir
								span.md-alt-text {{ 'M-P' | keyboardShortcut }}
						md-menu-item
							md-button(ng-click='order.print(\'cupon\')' ng-disabled='!order.canPrint()')
								md-icon(md-font-set='material-icons') receipt
								|  Imprimir em cupom
						md-menu-item
							md-button(ng-click='order.savePDF()' ng-disabled='!order.canPrint()')
								md-icon(md-font-icon='fa fa-file-pdf-o')
								|  Salvar PDF
						md-menu-item
							md-button(ng-click='order.mail()' ng-disabled='!order.canPrint()')
								md-icon(md-font-set='material-icons') mail
								|  Enviar por email
						md-menu-divider
						md-menu-item
							md-button(ng-click='close()')
								md-icon(md-font-icon='fa fa-remove')
								|  Fechar
				md-menu
					button(ng-click='$mdMenu.open()') Orçamento
					md-menu-content.order-menu-content
						//- md-menu-item
							md-button(ng-click='order.selectCompany()' ng-disabled='!order.canChangeCompany() || order.isToolbarLocked()')
								md-icon(md-font-set='material-icons') business
								| Informar empresa
								span.md-alt-text {{ 'M-E' | keyboardShortcut }}
						md-menu-item
							md-button(ng-click='order.showModalOrderSeller()' ng-disabled='order.isToolbarLocked()')
								md-icon(md-font-icon='fa fa-id-badge')
								| Informar vendedor
						md-menu-divider
						md-menu-item
							md-button(ng-click='order.showModalProduct()' ng-disabled='order.isToolbarLocked()')
								md-icon(md-font-set='material-icons') shopping_cart
								| Localizar produto
						md-menu-item
							md-button(ng-click='order.showModalCustomer()' ng-disabled='order.isToolbarLocked()')
								md-icon(md-font-icon='fa fa-user')
								| Localizar cliente
						md-menu-item
							md-button(ng-click='order.showModalCustomerInfo()' ng-disabled='!order.budget.order_client.person_id || !order.canShowInfo()')
								md-icon(md-font-icon='fa fa-id-card-o')
								| Ver informações sobre o cliente
						md-menu-item
							md-button(ng-click='order.showModalNotes()' ng-disabled='!order.canShowInfo()')
								md-icon(md-font-icon='fa fa-sticky-note-o')
								| Observações
						md-menu-divider
						md-menu-item
							md-button(ng-click='order.showModalDiscount()' ng-disabled='order.isToolbarLocked() || !order.budget.order_items.length')
								md-icon(md-font-set='material-icons') monetization_on
								| Aplicar desconto geral
						md-menu-item
							md-button(ng-click='order.removeDiscounts()' ng-disabled='order.isToolbarLocked() || !order.budget.order_items.length')
								md-icon(md-font-set='material-icons') delete_sweep
								| Remover descontos
				md-menu
					button(ng-click='$mdMenu.open()' ng-disabled='order.isToolbarLocked()') Ir
					md-menu-content.order-menu-content
						md-menu-item
							md-button(ng-click='order.scrollTo("section[name=\'products\']")')
								| Produtos
								span.md-alt-text {{ 'M-1' | keyboardShortcut }}
						md-menu-item
							md-button(ng-click='order.scrollTo("section[name=\'customer\']")')
								| Cliente
								span.md-alt-text {{ 'M-2' | keyboardShortcut }}
						md-menu-item
							md-button(ng-click='order.scrollTo("section[name=\'payment\']")')
								| Pagamento
								span.md-alt-text {{ 'M-3' | keyboardShortcut }}
				md-menu
					button(ng-click='$mdMenu.open()') Ajuda
					md-menu-content.order-menu-content
						md-menu-item
							md-button(ng-click='toast("Aviso!", "Em breve.")')
								| Sobre

			.md-toolbar-tools(flex)
				md-button.toolbar-btn(ng-click='newOrder()')
					md-tooltip(md-direction='bottom') 
						| Novo orçamento &nbsp;
						span.md-alt-text ({{ 'M-N' | keyboardShortcut }})
					md-icon(md-font-icon='fa fa-file-o')

				md-button.toolbar-btn(ng-click='clone()' ng-disabled='!order.canPrint()')
					md-tooltip(md-direction='bottom') 
						| Duplicar
					md-icon(md-font-icon='fa fa-files-o')

				md-button.toolbar-btn(ng-click='save()' ng-disabled='!order.canSave() || order.isToolbarLocked()')
					md-tooltip(md-direction='bottom') 
						| Salvar orçamento &nbsp;
						span.md-alt-text ({{ 'M-S' | keyboardShortcut }})
					md-icon(md-font-icon='fa fa-floppy-o' style='color: steelblue')

				md-button.toolbar-btn.pull-right(ng-click='close()')
					md-tooltip(md-direction='bottom') Fechar
					md-icon(md-font-icon='fa fa-remove' style='color: red')

				.separator

				md-button.toolbar-btn(ng-click='order.print()' ng-disabled='!order.canPrint()')
					md-tooltip(md-direction='bottom') 
						| Imprimir orçamento &nbsp;
						span.md-alt-text ({{ 'M-P' | keyboardShortcut }})
					md-icon(md-font-set='material-icons' style='color: deepskyblue') print

				md-button.toolbar-btn(ng-click='order.savePDF()' ng-disabled='!order.canPrint()')
					md-tooltip(md-direction='bottom') Salvar como PDF
					md-icon(md-font-icon='fa fa-file-pdf-o' style='color: red')

				md-button.toolbar-btn(ng-click='order.mail()' ng-disabled='!order.canPrint()')
					md-tooltip(md-direction='bottom') Enviar por email
					md-icon(md-font-set='material-icons' style='color: dodgerblue') mail

				.separator

				md-button.toolbar-btn(ng-click='order.showModalOrderSeller()' ng-disabled='order.isToolbarLocked()')
					md-tooltip(md-direction='bottom') Informar vendedor
					md-icon.text-secondary(md-font-icon='fa fa-id-badge')

				.separator

				md-button.toolbar-btn(ng-click='order.showModalProduct()' ng-disabled='order.isToolbarLocked()')
					md-tooltip(md-direction='bottom') Localizar produto
					md-icon(md-font-set='material-icons' style='color: chocolate') shopping_cart

				md-button.toolbar-btn(ng-click='order.showModalCustomer()' ng-disabled='order.isToolbarLocked()')
					md-tooltip(md-direction='bottom') Localizar cliente
					md-icon(md-font-icon='fa fa-user' style='color: seagreen')

				md-button.toolbar-btn(ng-click='order.showModalCustomerInfo()' ng-disabled='!order.budget.order_client.person_id || !order.canShowInfo()')
					md-tooltip(md-direction='bottom') Informações do cliente
					md-icon(md-font-icon='fa fa-id-card-o' style='color: tomato')

				md-button.toolbar-btn(ng-click='order.showModalNotes()' ng-disabled='!order.canShowInfo()')
					md-tooltip(md-direction='bottom') Observações
					md-icon.text-warning(md-font-icon='fa fa-sticky-note-o')

				md-button.toolbar-btn(ng-click='order.showModalDiscount()' ng-disabled='order.isToolbarLocked() || !order.budget.order_items.length')
					md-tooltip(md-direction='bottom') Aplicar desconto geral
					md-icon(md-font-set='material-icons' style='color: tan') monetization_on
				
				span(flex)

		div(flex="20")
			.logo-commercial

md-content#order(flex layout-padding style='background-color: #a9a9a9')

	.order-container(disable-all='isDisabled')
		//- Info
		section(name='info' ng-if='order.isExported()' ng-cloak)
			md-card.info-card
				md-card-content(layout='row' layout-align='start center')
					div(flex='10')
						i.material-icons info

					.text-center(flex)
						b Status: 
						| {{::order.internal.orderStatusLabels[order.budget.order_status_id]}}
						b Cód. ERP: 
						| {{::order.budget.order_code_erp || 'Indisponível'}}
						b Documento: 
						| {{::order.budget.order_code_document || 'Indisponível'}}

					div(flex='10')

		//- Empresa
		section(name='company')
			md-card.info-card
				md-card-content(layout='row' layout-align='start center')
					div(flex='10')
						i.material-icons info
					
					.text-center(flex)
						b Empresa: 
						| {{order.budget.order_company_id ? (order.budget.order_company.company_code + ' - ' + order.budget.order_company.company_name) : 'Não informado.'}}
					
					div(flex='10')

		//- Produtos					
		section(name='products')
			md-card
				md-card-header.header-blue
					md-card-header-text
						div(layout='row')
							div(flex='90' layout='column')
								span.md-title Produtos
									span.md-alt-text(style='font-size: 14px') &nbsp;({{ 'M-1' | keyboardShortcut }})
								span.md-subhead Adicione ou remova produtos
							div(layout='row' layout-align='end center' layout-fill)
								//- md-button.md-raised.text-primary(ng-click='order.showModalProduct()')
									i.fa.fa-search &nbsp; 
									| Localizar

								md-button.md-icon-button.md-raised.button-red(ng-click='order.clearItems()' md-colors='{background: "commercialRed"}')
									i.fa.fa-trash
									md-tooltip(md-direction='bottom') Limpar
				md-card-content
					div(layout='row')
						md-input-container(flex='25')
							label Código ( F2 para localizar )
							input(name='product-code' ng-value='order.internal.tempItem.product.product_code'
									blur-to='order.internal.tempItem.product.product_code' 
									keys-shortcuts prevent-default shift-enter='null'
									f2='order.showModalProduct()' enter='order.getProductByCode($event.target.value)')
						
						md-autocomplete(flex
										keys-shortcuts prevent-default 
										f2='order.showModalProduct()' 
										enter='order.focusOn("input[name=\'amount\']")'
										md-delay='300'
										ng-model-options='{ debounce: 300 }'
										md-input-name='autocompleteProduct'
										md-no-cache='true'
										md-autoselect='true'
										md-escape-options='none'
										md-selected-item='order.internal.tempProduct'
										md-search-text='productQuery'
										md-selected-item-change='item.product_code && order.getProductByCode(item.product_code)'
										md-items='item in order.getProductByName(productQuery)'
										md-item-text='item.product_name'
										md-min-length='3'
										md-require-match='true'
										md-floating-label='Descrição ( F2 para localizar )'
										ng-blur='order.internal.blurItem()')
							md-item-template
								div(md-highlight-text='customerQuery' style='line-height: 2') {{item.product_name}}
								div(layout='row' style='color: #888')
									div(flex='20' style='font-size: 11px;line-height: 1')
										| Cód: 
										| {{item.product_code}} 
									div(flex='30' style='font-size: 11px;line-height: 1')
										| Class.: 
										| {{item.product_classification || 'indisponível' | truncate:10}} 
									div(flex='30' style='font-size: 11px;line-height: 1')
										| Estoque: 
										| {{item.unit && item.unit.unit_format == "I" ? (item.stock.product_stock | number: 0) : (item.stock.product_stock | number: 2)}} ({{item.unit.unit_initials}}) 
									div(flex='20' style='font-size: 11px;line-height: 1')
										| Preço: 
										| {{item.product_prices[0].price_value | currency: 'R$ '}} 

						md-input-container.md-icon-float(flex='25')
							label
								span Tabela de preços
							md-select(ng-model='order.internal.tempPrice'
									ng-disabled='!order.internal.tempItem.product.product_code || isDisabled'
									ng-model-options='{ trackBy: "$value.price_id" }')
								md-option(ng-value='p' ng-repeat='p in order.internal.tempProduct.product_prices' 
										ng-click='order.priceTableChanged(p)')
									| {{p.price_code}} {{p.price_name}} ({{p.price_value | currency:'R$ '}})
					
					div(layout='row')
						div(layout='col' flex='25')
							md-input-container(flex='50')
								label 
									| Estoque
								input(name='stock' ng-value='order.internal.tempItem.product.stock.product_stock + " " + ( order.internal.tempItem.product.unit.unit_initials ? order.internal.tempItem.product.unit.unit_initials : "" )' disabled='true')

							md-input-container(flex='50')
								label 
									| Quantidade
								input(name='amount' ng-model='order.internal.tempItem.order_item_amount'
										ng-blur='order.setItemAmount(order.internal.tempItem.order_item_amount)'
										keys-shortcuts enter='order.focusOn("input[name=\'al-discount\']")'
										currency trim min-fraction-size='0' max-fraction-size='{{order.internal.tempItem.product.unit.unit_format == "I" ? 0 : 4}}' 
										number-only separator=',.' 
										replace-text='{ ".": "", ",": "{{order.internal.tempItem.product.unit.unit_format == "I" ? \'\' : \',\'}}" }'
										ng-disabled='!order.internal.tempItem.product.product_code')
						
						md-input-container(flex='25')
							label 
								| Desconto %
							input(name='al-discount' ng-model='order.internal.tempItemAlDiscount' 
									ng-blur='order.internal.tempItemAlDiscount = order.internal.tempItem.order_item_al_discount.toString()'
									currency trim max-fraction-size='4' number-only separator=',.' 
									replace-text='{ ".": "," }'
									ng-disabled='!order.internal.tempItem.product.product_code'
									keys-shortcuts enter='order.setItemAlDiscount(order.internal.tempItemAlDiscount)')
						
						md-input-container(flex='25')
							label 
								| Desconto R$
							input(name='vl-discount' ng-model='order.internal.tempItemVlDiscount' 
									ng-blur='order.internal.tempItemVlDiscount = order.internal.tempItem.order_item_vl_discount'
									currency number-only separator=',.'
									replace-text='{ ".": "," }'
									ng-disabled='!order.internal.tempItem.product.product_code'
									keys-shortcuts enter='order.setItemVlDiscount(order.internal.tempItemVlDiscount)')
						
						.well(flex='25' layout='row' layout-align='center center' style='margin-left: 5px;')
							//- md-button.md-icon-button.md-raised.md-primary(name='btn-add-item' ng-click='order.addItem()')
								md-icon(md-font-set='material-icons' style='font-size: 23px') arrow_downward
							span(flex)
								b.text-light Total:&nbsp;
								| {{order.internal.tempItem.getValueTotal() | currency:"R$ "}}

							md-button.md-raised.md-primary.md-icon-button.button-green(name='btn-add-item' ng-click='order.addItem()' style='margin:0')
								i.fa.fa-plus
								md-tooltip(md-direction='bottom') Adicionar produto

					pre(ng-if='debug')
						| {{order.internal.tempItem | json}}

					.offset-top-30(layout='column')
						.products-table-header-container
							table.table.products-table
								thead
									tr
										th &nbsp; PRODUTO
										th UND
										th QTD
										th VL UNIT
										th DESC %
										th DESC R$
										th VALOR TOTAL
										th &nbsp;
						.container-table
							table.table.products-table
								tbody
									tr(ng-repeat='i in order.budget.order_items track by $index' layout='row' ng-dblclick='order.editItem(i)'
										ng-class='{"sold-out": order.budget.order_status_id == order.internal.orderStatusValues.open ? i.product.stock.product_stock <= 0 : i.order_item_stock <= 0}')
										td {{i.product.product_code}} - {{i.product.product_name}}
										td {{i.product.unit.unit_initials}}
										td {{i.order_item_amount | currency : '' : (i.product.unit.unit_format == 'I' ? 0 : 4)}}
										td 
											md-tooltip(md-direction='left')
												| {{i.price.price_code}} {{i.price.price_name}}
												| {{i.price.price_date | date:'dd/MM/yyyy' }}
											| {{i.order_item_value_unitary | currency:'R$ '}}
										td {{i.order_item_al_discount | currency:''}}%
										td {{i.order_item_vl_discount | currency:'R$ '}}
										td {{i.order_item_value_total | currency:'R$ '}}
										td
											md-button.md-icon-button(tabindex='-1' ng-click='order.removeItem(i)')
												md-icon.text-primary(md-font-set='material-icons' md-menu-align-target) delete_forever

					.items-summary(layout='row')
						span(flex)

						//- div(layout='column' layout-align='center start')
							span Desconto %
							span {{order.budget.order_al_discount | number:2}}%

						//- div(layout='column' layout-align='center start')
							span Desconto R$
							span {{order.budget.order_vl_discount | currency:'R$ '}}

						div(layout='row' layout-align='start center')
							span Valor total: &nbsp;
							span {{order.budget.order_value - order.budget.order_vl_discount | currency:'R$ '}}

		//- Cliente
		section(name='customer')
			md-card(layout-align='center')
				md-card-header.header-red
					md-card-header-text
						div(layout='row')
							div(flex='90' layout='column')
								span.md-title 
									i.fa.fa-exclamation-triangle.text-warning(ng-if='order.budget.order_client.person_id && ( order.budget.order_client.person_credit_limit.blocked_days_limit == 1 || order.budget.order_client.person_credit_limit.person_credit_limit_balance <= 0 )') &nbsp;
									| Cliente
									span.md-alt-text(style='font-size: 14px') &nbsp;({{ 'M-2' | keyboardShortcut }})
								span.md-subhead Informe o cliente e seu endereço de entrega
							div(layout='row' layout-align='end center' layout-fill)
								//- md-button.md-raised.text-primary(ng-click='order.showModalCustomer()')
									i.fa.fa-search &nbsp; 
									| Localizar

								md-button.md-raised.md-icon-button.text-primary.button-green(ng-click='order.newCustomer()' style='margin-right: 15px;')
									i.fa.fa-user-plus
									md-tooltip(md-direction='bottom') Cadastrar novo cliente

								md-button.md-icon-button.md-raised.button-red(ng-click='order.clearCustomer()' md-colors='{background: "commercialRed"}')
									i.fa.fa-trash
									md-tooltip(md-direction='bottom') Limpar
				
				md-card-content
					
					.person-attributes(layout='row' ng-if='order.budget.order_client.person_id')
						span(flex)
						.attribute(ng-repeat='attribute in order.budget.order_client.person_attribute' ng-style='{"background-image": "url({{attribute.person_attribute_image}})"}')
							i.fa.fa-info(ng-if='!attribute.person_attribute_image')
							md-tooltip(md-direction='bottom') {{attribute.person_attribute_name}}
						.no-attributes(ng-if='!order.budget.order_client.person_attribute.length')
							p Nenhuma característica cadastrada.
						span(flex)

					div(layout='row')

						div(flex='15' layout='column')
							div(layout='row' layout-wrap)
								.person-image(ng-style='{"background-image": "url(\'" + order.budget.order_client.person_image + "\')"}')
									md-tooltip(md-direction='top' ng-if='!order.budget.order_client.person_image') {{order.budget.order_client.person_name}}
									i.fa.fa-user(ng-if='!order.budget.order_client.person_image')

						div(flex='85' layout='column')
							div(layout='row' layout-wrap)
								md-input-container(flex='25')
									label Código ( F2 para localizar )
									input(name='customer-code'
											ng-value='order.budget.order_client.person_code' 
											blur-to='order.budget.order_client.person_code'
											keys-shortcuts prevent-default 
											shift-enter='null' f2='order.showModalCustomer()'
											enter='order.getCustomerByCode($event.target.value)')
								md-autocomplete(flex='75'
												keys-shortcuts 
												prevent-default 
												f2='order.showModalCustomer()'
												md-delay='300'
												md-input-name='autocompleteCustomer'
												md-no-cache='true'
												md-autoselect='true'
												md-escape-options='none'
												md-selected-item='order.internal.tempCustomer'
												md-search-text='customerQuery'
												md-selected-item-change='item.person_code && order.getCustomerByCode(item.person_code)'
												md-items='item in order.getCustomerByName(customerQuery)'
												md-item-text='item.person_name'
												md-min-length='3'
												md-require-match='true'
												md-floating-label='Nome ( F2 para localizar )'
												ng-blur='order.internal.blurCustomer()')
									md-item-template
										div(md-highlight-text='customerQuery' style='line-height: 2') {{item.person_name}}
										div(style='font-size: 11px;line-height: 1')
											| Código: 
											| {{item.person_code}}
								
								md-input-container.md-icon-float(flex='25')
									label
										span
											i.fa.fa-lock &nbsp;
											span Tipo
									input(ng-value='order.budget.order_client.person_id && order.budget.order_client.getType()' readonly)
								
								md-input-container(flex='25')
									label 
										i.fa.fa-lock &nbsp;
										| CPF
									input(ng-value='order.budget.order_client.person_cpf' readonly)

								md-input-container(flex='25')
									label 
										i.fa.fa-lock &nbsp;
										| CNPJ
									input(ng-value='order.budget.order_client.person_cnpj' readonly)

								md-input-container(flex='25')
									label 
										i.fa.fa-lock &nbsp;
										| Inscrição Estadual
									input(ng-value='order.budget.order_client.getMainAddress().person_address_ie' readonly)


					div(layout='column' style='margin-top: 30px')
						.delivery-address
							md-toolbar
								.md-toolbar-tools(layout='row')
									i.fa.fa-2x.fa-truck &nbsp;
									p(flex ng-if='!order.budget.order_address_delivery_code') Nenhum endereço informado!
									div(flex layout='column' ng-if='order.budget.order_address_delivery_code') 
										span(style='font-size: 11px')
											| Código: {{order.budget.order_address_delivery_code}}
										span {{order.budget.address_delivery.toString()}}

									md-button.md-raised.md-icon-button.text-white(ng-click='order.addressDialog()' ng-if='order.budget.order_client_id' md-colors='{background: "commercialOrange"}')
										i.fa.fa-address-book-o

					pre(ng-if='debug')
						| {{order.budget.order_client | json}}

		//- Pagamento
		section(name='payment')
			md-card(layout-align='center')
				md-card-header.header-orange
					md-card-header-text
						div(layout='row')
							div(flex='90' layout='column')
								span.md-title Pagamento
									span.md-alt-text(style='font-size: 14px') &nbsp;({{ 'M-3' | keyboardShortcut }})
								span.md-subhead Informe as formas de pagamento
							div(layout='column' layout-align='center end' layout-fill)
								md-button.md-icon-button.md-raised.button-red(ng-click='order.clearPayments()' md-colors='{background: "commercialRed"}')
									i.fa.fa-trash
									md-tooltip(md-direction='bottom') Limpar
				md-card-content
					div(layout='row')

						div(flex='60' layout='column')
							div(layout='row')
								md-input-container(flex='30')
									label
										| Código do prazo
									input(name='term-code' 
											ng-value='order.internal.term.tempTerm.term_code'
											blur-to='order.internal.term.tempTerm.term_code'
											ng-disabled='!order.budget.order_items.length'
											keys-shortcuts enter='order.getTermByCode($event.target.value)')

								md-input-container(flex)
									label 
										| Descrição do prazo
									md-select(ng-model='order.internal.term.tempTerm'
											data-md-container-class='query-select-container'
											ng-model-options='{ trackBy: "$value.term_id" }'
											ng-disabled='!order.budget.order_items.length || isDisabled')
										md-select-header.select-header
											| &nbsp; &nbsp;
											i.fa.fa-search
											input.md-text(ng-model='order.internal.term.queryTerm' 
													type='search' placeholder='Buscar prazo'
													ng-keydown="order.internal.term.updateSearch($event)")
											button(ng-click='order.internal.term.queryTerm = \'\';')
												i.fa.fa-times-circle
										md-opt-group(label='Prazos')
											md-option(ng-value='t' 
													ng-repeat='t in order.internal.term.queryResult | filter: { queryable: order.internal.term.queryTerm }'
													ng-click='order.getTermByCode(t.term_code)')
												| {{t.term_code}} - {{t.term_description}}

							.payment-table-header-container
								table.table.payment-table
									thead
										tr
											th &nbsp;
											th PAGAMENTO
											th DATA
											th VALOR
											th &nbsp;
							.container-table
								table.table.payment-table
									tbody
										tr(ng-repeat='p in order.budget.order_payments track by $index' layout='row' 
												ng-dblclick='order.editPayment(p)' ng-class='{"credit": p.order_payment_credit == "Y"}')
											td 
												md-tooltip(md-direction='top' ng-if='p.order_payment_initial == "Y"') Parcela de entrada
												i.fa.fa-check-circle(ng-if='p.order_payment_initial == "Y"') &nbsp;
												| {{p.order_payment_installment}}x
											td {{p.modality.modality_description}}
											td {{p.order_payment_deadline | date:'dd/MM/yyyy'}}
											td {{p.order_payment_value_total | currency:'R$ '}}
											td
												md-button.md-icon-button(ng-click='order.removePayment(p)')
													md-icon.text-primary(md-font-set='material-icons' md-menu-align-target) delete_forever

							.payment-table-footer(layout='row')
								md-button.md-primary(ng-click='order.addPayment()' ng-disabled='!order.budget.order_items.length')
									md-tooltip(md-direction='top') Adiciona forma de pagamento
									i.fa.fa-plus-square-o &nbsp;
									| Parcela

								md-button.md-primary(ng-click='order.removeAllPayments()' ng-disabled='!order.budget.order_payments.length')
									md-tooltip(md-direction='top') Remove todas as parcelas
									i.fa.fa-minus-square-o &nbsp;
									| Remover todos

								span(flex)

								md-button.md-primary(ng-click='order.recalcPayments()' ng-disabled='!order.budget.order_items.length || !order.budget.order_payments.length')
									md-tooltip(md-direction='top') Recalcular valor das parcelas
									i.fa.fa-calculator &nbsp;
									| Recalcular

							.payment-summary(flex layout='row')
								div(layout='column' layout-align='center start')
									span Alíquota
									span {{order.budget.getPaymentAliquot() | number:2}}%

								span(flex)

								div(layout='column' layout-align='center start')
									span Total das Parcelas
									span {{order.budget.getPaymentValue() | currency:'R$ '}}

								span(flex)

								div(layout='column' layout-align='center start')
									span Valor Restante
									span {{order.budget.getChange() | currency:'R$ '}}

						div(flex='40' layout='column')

							div(style='margin-top: 50px' ng-if='!order.internal.canUseCredit')
							.well.credit(layout='row' layout-align='center center' ng-if='order.internal.canUseCredit')
								span(flex)
									b.text-light Carta de crédito:&nbsp;
									| {{order.budget.creditPayment.order_payment_credit_available || '0' | currency:"R$ "}}

								md-button.md-primary.md-icon-button.md-raised(style='margin: 0;' ng-click='order.addCredit()' 
										ng-disabled='!order.budget.order_client.person_credit.length || !order.internal.canUseCredit')
									i.fa.fa-plus
									md-tooltip(md-direction='bottom') Adicionar crédito
							
							.summary(flex layout='column')
								md-toolbar.md-toolbar-tools.toolbar-orange(style='z-index:0')
									h2 Resumo do orçamento

								table.md-subhead
									tr
										td.text-right.text-light
											b Total de items:
										td.text-primary
											| {{order.budget.order_items.length}}&nbsp;
											| {{order.budget.order_items.length == 1 ? 'item' : 'itens'}}
									tr
										td.text-right.text-light
											b Valor total:
										td.text-primary
											| {{order.budget.order_value | currency:'R$ '}}
									tr
										td.text-right.text-light
											b Desconto total:
										td.text-primary
											| {{order.budget.order_al_discount | number:'2'}}%
											| &nbsp;/&nbsp;
											| {{order.budget.order_vl_discount | currency:'R$ '}}
									tr
										td.text-right.text-light
											b Acréscimo:
										td.text-primary
											md-input-container
												input(ng-model='order.budget.order_value_addition' ng-change='order.budget.updateValues()' number-only currency symbol='"R$ "')
									tr
										td.text-right.text-light
											b Vl. total líquido:
										td.text-primary
											| {{order.budget.order_value_total | currency:'R$ '}}
									tr
										td.text-right.text-light
											b ICMS:
										td.text-primary
											| {{order.budget.order_value_icms ? (order.budget.order_value_icms | currency:'R$ ') : 'Indisponível'}}
									tr
										td.text-right.text-light
											b Subist. Tributária:
										td.text-primary
											| {{order.budget.order_value_st ? (order.budget.order_value_st | currency:'R$ ') : 'Indisponível'}}

								.order-button-container(flex layout='row' layout-align='center center')
									md-button.md-raised.md-primary.button-orange(ng-click='order.showModalNotes()')
										i.fa.fa-sticky-note &nbsp;
										| Observações


				div(layout='row')
					pre(flex='40' ng-if='debug')
						| {{order.internal.term.tempTerm | json}}

					pre(flex='60' ng-if='debug')
						| {{order.budget.order_payments | json}}

		//- Controle
		section(name='control')
			md-card(layout-align='center')
				md-card-content.offset-top-5
					.offset-top-5(layout='row')
						md-button.md-raised.md-primary.button-close(flex='25' ng-click='close()' skip-disable)
							i.fa.fa-remove &nbsp;
							| Fechar
						
						md-button.md-raised.md-primary.button-order(flex='25' ng-click='order.exportOrder()' ng-disabled='!order.canExport()' skip-disable)
							i.fa.fa-cloud-upload &nbsp;	
							| Exportar Pedido
						
						md-button.md-raised.md-primary.button-dav(flex='25' ng-click='order.exportDAV()' ng-disabled='!order.canExport()' skip-disable)
							i.fa.fa-upload &nbsp;
							| Exportar DAV
						
						md-button.md-raised.md-primary.button-save(name='save' flex='25' ng-click='save()' ng-disabled='!order.canSave()' skip-disable)
							i.fa.fa-floppy-o &nbsp;
							| Salvar

footer(ng-if='currentPath !== "/login" && currentPath !== "/logout" && currentPath !== "/loading" && currentPath.indexOf("/order/print/") < 0')
	md-toolbar
		div(layout='row' layout-align='start center' flex)
			| &nbsp;Autor: {{order.budget.order_user.user_name}}
			| &nbsp;|&nbsp;
			| Empresa: {{order.budget.order_company_id ? (order.budget.order_company.company_code + ' - ' + order.budget.order_company.company_name) : 'Não informado.'}}
			span(flex)
			i.material-icons.cloud-open(style='line-height: 1px;font-size: 20px' ng-style='{ "color": order.internal.orderStatusColor[order.budget.order_status_id] }' ng-class='{ "cloud-open": order.budget.order_status_id == order.internal.orderStatusValues.open, "cloud-exported": order.budget.order_status_id == order.internal.orderStatusValues.exported, "cloud-billed": order.budget.order_status_id == order.internal.orderStatusValues.billed }')
			| &nbsp;{{order.internal.orderStatusLabels[order.budget.order_status_id] || 'Novo'}}&nbsp;